In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [239]:
import pandas as pd
import numpy as np

In [287]:
#dados coletados e disponibilizados por @rgriffin
#disponível em https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results
atletas = pd.read_csv('/content/drive/MyDrive/mundo_kaggle_olimpíadas/input/athlete_events.csv')
pais = pd.read_csv('/content/drive/MyDrive/mundo_kaggle_olimpíadas/input/noc_regions.csv')

In [288]:
#merge entre dados dos atletas e países pela sigla do Comitê Olímpico
olimpiadas = pd.merge(atletas, pais,
                      how='left', left_on=['NOC'],
                      right_on=['NOC'])

In [289]:
#exclusão de variáveis desnecessárias
olimpiadas.drop(['Games', 'notes'], axis=1, inplace=True)

In [290]:
#padronização das variáveis conforme padrão da BD+
olimpiadas.rename(columns={'ID': 'id_atleta','Name':'nome_atleta', 'Sex':'sexo', 'Age':'idade', 'Height':'altura',
                          'Weight': 'peso', 'Team': 'equipe', 'NOC':'delegacao', 'Year': 'ano', 'Season':'edicao', 
                           'City':'cidade_sede', 'Sport': 'esporte', 'Event':'evento', 'Medal': 'medalha', 'region': 'pais_ingles'}, inplace=True)

In [292]:
#ordenação do df
olimpiadas = olimpiadas[['ano', 'edicao', 'cidade_sede', 'pais_ingles', 'delegacao', 'equipe', 'id_atleta', 'nome_atleta', 'sexo', 'idade', 'altura', 'peso', 'esporte', 'evento', 'medalha']]
olimpiadas.sort_values(['ano', 'edicao', 'pais_ingles', 'delegacao', 'id_atleta', 'esporte', 'evento', 'medalha'], inplace=True)

In [293]:
#exclusão de observações duplicadas
olimpiadas.drop_duplicates(subset=['ano', 'edicao', 'pais_ingles', 'delegacao', 'id_atleta', 'idade', 'altura', 
                                   'peso', 'esporte', 'evento', 'medalha'], keep='first', inplace=True)

In [297]:
olimpiadas.isnull().sum(axis = 0)

ano                 0
edicao              0
cidade_sede         0
pais_ingles       370
delegacao           0
equipe              0
id_atleta           0
nome_atleta         0
sexo                0
idade            9308
altura_cm       58801
peso_kg         61514
esporte             0
evento              0
medalha        229946
dtype: int64

In [294]:
olimpiadas

         ano  edicao  ...                        evento medalha
70082   1896  Summer  ...  Athletics Men's 1,500 metres    Gold
70081   1896  Summer  ...    Athletics Men's 800 metres    Gold
70083   1896  Summer  ...      Athletics Men's Marathon     NaN
70080   1896  Summer  ...          Tennis Men's Doubles  Bronze
70079   1896  Summer  ...          Tennis Men's Singles     NaN
...      ...     ...  ...                           ...     ...
265972  2016  Summer  ...    Sailing Women's Windsurfer     NaN
266550  2016  Summer  ...  Table Tennis Women's Singles     NaN
266551  2016  Summer  ...     Table Tennis Women's Team     NaN
269455  2016  Summer  ...     Table Tennis Women's Team     NaN
240317  2016  Summer  ...    Athletics Men's 100 metres     NaN

[269718 rows x 15 columns]

In [298]:
olimpiadas['ano'].unique()

array([1896, 1900, 1904, 1906, 1908, 1912, 1920, 1924, 1928, 1932, 1936,
       1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988,
       1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012,
       2014, 2016])

In [295]:
olimpiadas.to_csv('/content/drive/MyDrive/mundo_kaggle_olimpíadas/output/mundo_kaggle_olimpiadas_microdados.csv', index=False)

In [270]:
brasil = olimpiadas.query('delegacao == "BRA"')

In [271]:
brasil

         ano  edicao     cidade_sede  ... medalha contador erro
121234  1900  Summer           Paris  ...     NaN        1  NaN
121233  1900  Summer           Paris  ...     NaN        1  NaN
121232  1900  Summer           Paris  ...     NaN        1  NaN
6045    1920  Summer       Antwerpen  ...     NaN        1  NaN
6044    1920  Summer       Antwerpen  ...     NaN        1  NaN
...      ...     ...             ...  ...     ...      ...  ...
267709  2016  Summer  Rio de Janeiro  ...  Silver        1  1.0
267708  2016  Summer  Rio de Janeiro  ...     NaN        1  NaN
267887  2016  Summer  Rio de Janeiro  ...     NaN        1  NaN
268247  2016  Summer  Rio de Janeiro  ...    Gold        1  1.0
269899  2016  Summer  Rio de Janeiro  ...     NaN        1  NaN

[3848 rows x 17 columns]

In [170]:
brasil['esporte'].value_counts()

Athletics                519
Swimming                 507
Football                 306
Volleyball               285
Basketball               255
Gymnastics               201
Sailing                  181
Equestrianism            170
Handball                 144
Rowing                   137
Shooting                 122
Judo                     120
Water Polo                96
Cycling                   95
Fencing                   94
Boxing                    80
Table Tennis              56
Canoeing                  49
Beach Volleyball          48
Diving                    46
Tennis                    43
Synchronized Swimming     33
Alpine Skiing             33
Modern Pentathlon         31
Rhythmic Gymnastics       26
Rugby Sevens              25
Weightlifting             25
Archery                   21
Triathlon                 20
Hockey                    16
Bobsleigh                 14
Taekwondo                 13
Wrestling                 13
Cross Country Skiing       8
Snowboarding               3
Golf                       3
Badminton                  2
Luge                       2
Biathlon                   2
Freestyle Skiing           1
Art Competitions           1
Trampolining               1
Figure Skating             1
Name: esporte, dtype: int64