In [1]:
import basedosdados as bd
import os
import pandas as pd

In [2]:
path = os.path.abspath(os.path.join('..', 'input'))

In [37]:
path_tabela = os.path.join(path, 'tabela.xlsx')
df = pd.read_excel(path_tabela)

In [38]:
df.rename(columns = {'Ano':'ano',
'Unidade da Federação':'nome',
'Cód.':'id_uf',
'Produto Interno Bruto a preços correntes (Mil Reais)':'pib',
'Impostos, líquidos de subsídios, sobre produtos a preços correntes (Mil Reais)':'impostos_liquidos',
'Valor adicionado bruto a preços correntes total (Mil Reais)':'va',
'Valor adicionado bruto a preços correntes da agropecuária (Mil Reais)':'va_agropecuaria',
'Valor adicionado bruto a preços correntes da indústria (Mil Reais)':'va_industria',
'Valor adicionado bruto a preços correntes dos serviços, exclusive administração, defesa, educação e saúde públicas e seguridade social (Mil Reais)':'va_servicos',
'Valor adicionado bruto a preços correntes da administração, defesa, educação e saúde públicas e seguridade social (Mil Reais)':'va_adespss'}, inplace = True)

In [39]:
df

,id_uf,nome,ano,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
0,11,Rondônia,2002,7467629886,839731192,6627898698,715526872,1191090432,2484579193,2236702207
1,11,Rondônia,2003,9425010486,1108434936,8316575548,1278658831,1216605061,3376727040,2444584625
2,11,Rondônia,2004,11004641436,1288806654,9715834778,1288515348,1674933817,3986529419,2765856199
3,11,Rondônia,2005,12511821181,1476144194,11035676990,1342222120,1887932121,4603783904,3201738843
4,11,Rondônia,2006,13054713344,1613809974,11440903374,1238006193,2210692147,4320526746,3671678293
...,...,...,...,...,...,...,...,...,...,...
508,53,Distrito Federal,2016,235540044811,29145619376,206394425435,820754661,9662357225,103859865830,92051447720
509,53,Distrito Federal,2017,244722249337,29120461647,215601787690,828313642,8448768236,108322119432,98002586380
510,53,Distrito Federal,2018,254817204692,28692287369,226124917323,1022690641,9541298290,113768086938,101792841454
511,53,Distrito Federal,2019,273613711477,30686607647,242927103829,992393584,9453608031,125261853488,107219248727
512,53,Distrito Federal,2020,265847334003,25466227775,240381106228,1623976909,10942472569,116547655370,111267001381

In [46]:
uf = bd.read_table(dataset_id='br_bd_diretorios_brasil',
table_id='uf',
billing_project_id="dados-bd-359914")

Downloading: 100%|███████████████████████████████████████████████████████████████████| 27/27 [00:00<00:00, 61.27rows/s]

In [48]:
uf = uf[['sigla','nome']]

In [49]:
df_sigla = pd.merge(uf, df, on = 'nome')

In [52]:
df_sigla.rename(columns = {'sigla':'sigla_uf'},inplace = True)

In [55]:
df_sigla = df_sigla[['ano','id_uf','sigla_uf','pib','impostos_liquidos','va','va_agropecuaria', 'va_industria','va_servicos','va_adespss']]

In [56]:
df_sigla

,ano,id_uf,sigla_uf,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
0,2002,11,RO,7467629886,839731192,6627898698,715526872,1191090432,2484579193,2236702207
1,2003,11,RO,9425010486,1108434936,8316575548,1278658831,1216605061,3376727040,2444584625
2,2004,11,RO,11004641436,1288806654,9715834778,1288515348,1674933817,3986529419,2765856199
3,2005,11,RO,12511821181,1476144194,11035676990,1342222120,1887932121,4603783904,3201738843
4,2006,11,RO,13054713344,1613809974,11440903374,1238006193,2210692147,4320526746,3671678293
...,...,...,...,...,...,...,...,...,...,...
508,2016,53,DF,235540044811,29145619376,206394425435,820754661,9662357225,103859865830,92051447720
509,2017,53,DF,244722249337,29120461647,215601787690,828313642,8448768236,108322119432,98002586380
510,2018,53,DF,254817204692,28692287369,226124917323,1022690641,9541298290,113768086938,101792841454
511,2019,53,DF,273613711477,30686607647,242927103829,992393584,9453608031,125261853488,107219248727
512,2020,53,DF,265847334003,25466227775,240381106228,1623976909,10942472569,116547655370,111267001381

In [58]:
path = os.path.abspath(os.path.join('..', 'output'))
path_df = os.path.join(path, 'uf.csv')
df_sigla.to_csv(path_df, index=False)