In [1]:
import basedosdados
import pandas as pd
import os

In [2]:
path = os.path.abspath(os.path.join('..', 'input'))

In [3]:
path_uf = os.path.join(path, 'clp_posicao_uf.csv')
posicao_uf = pd.read_csv(path_uf)

In [4]:
path_uf = os.path.join(path, 'clp_nota_uf.csv')
nota_uf = pd.read_csv(path_uf)

In [5]:
rank = pd.merge(posicao_uf,nota_uf,how = 'outer', on = ['sigla_uf', 'pilar'])

In [6]:
rank_uf = pd.DataFrame()
for i in ['15','16','17','18','19','20','21','22']:
    lista = rank[[ 'sigla_uf', 'pilar', '20'+i+'_y','20'+i+'_x']].values
    lista = pd.DataFrame(lista)
    lista['ano'] = '20'+i
    lista.rename(columns = {0:'sigla_uf', 1:'pilar', 2:'nota_geral',3:'colocacao'}, inplace = True)
    rank_uf = rank_uf.append(lista).reset_index(drop=True)
rank_uf

     sigla_uf                       pilar nota_geral colocacao   ano
0          AC               Ranking Geral       34,4        26  2015
1          AL               Ranking Geral       23,4        27  2015
2          AM               Ranking Geral       47,9        17  2015
3          AP               Ranking Geral       35,0        25  2015
4          BA               Ranking Geral       50,6        14  2015
...       ...                         ...        ...       ...   ...
2371       RS  Sustentabilidade Ambiental       69,1         6  2022
2372       SC  Sustentabilidade Ambiental       80,7         4  2022
2373       SE  Sustentabilidade Ambiental       31,1        20  2022
2374       SP  Sustentabilidade Ambiental       97,9         2  2022
2375       TO  Sustentabilidade Ambiental       30,3        21  2022

[2376 rows x 5 columns]

In [8]:
geral_uf = rank_uf[['ano', 'sigla_uf','pilar','nota_geral', 'colocacao']]
geral_uf['ano'] = geral_uf['ano'].astype(int)
geral_uf['colocacao'] = geral_uf['colocacao'].astype(int)
geral_uf['nota_geral'] = geral_uf['nota_geral'].str.replace(',', ".")
geral_uf['nota_geral'] = geral_uf['nota_geral'].astype('float')

In [9]:
path = os.path.abspath(os.path.join('..', 'output'))
path_df = os.path.join(path, 'geral_uf.csv')
geral_uf.to_csv(path_df, index=False)