In [59]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [60]:
import pandas as pd

In [61]:
ocupacao = pd.read_csv('/content/drive/MyDrive/br_ibge_cbo2002/CBO2002 - Ocupacao.csv', sep=';', encoding='iso-8859-1', dtype='string')
ocupacao.rename(columns={'CODIGO':'cbo_2002', 'TITULO':'descricao'}, inplace=True)
ocupacao['familia'] = ocupacao['cbo_2002'].str[:4]
ocupacao['subgrupo'] = ocupacao['cbo_2002'].str[:3]
ocupacao['subgrupo_principal'] = ocupacao['cbo_2002'].str[:2]
ocupacao['grande_grupo'] = ocupacao['cbo_2002'].str[:1]

In [62]:
familia = pd.read_csv('/content/drive/MyDrive/br_ibge_cbo2002/CBO2002 - Familia.csv', sep=';', encoding='iso-8859-1', dtype='string')
familia.rename(columns={'CODIGO':'familia', 'TITULO':'descricao_familia'}, inplace=True)
subgrupo = pd.read_csv('/content/drive/MyDrive/br_ibge_cbo2002/CBO2002 - SubGrupo.csv', sep=';', encoding='iso-8859-1', dtype='string')
subgrupo.rename(columns={'CODIGO':'subgrupo', 'TITULO':'descricao_subgrupo'}, inplace=True)
subgrupo['descricao_subgrupo'] = subgrupo['descricao_subgrupo'].str.capitalize()
subgrupo_principal = pd.read_csv('/content/drive/MyDrive/br_ibge_cbo2002/CBO2002 - SubGrupo Principal.csv', sep=';', encoding='iso-8859-1', dtype='string')
subgrupo_principal.rename(columns={'CODIGO':'subgrupo_principal', 'TITULO':'descricao_subgrupo_principal'}, inplace=True)
subgrupo_principal['descricao_subgrupo_principal'] = subgrupo_principal['descricao_subgrupo_principal'].str.capitalize()
grande_grupo = pd.read_csv('/content/drive/MyDrive/br_ibge_cbo2002/CBO2002 - Grande Grupo.csv', sep=';', encoding='iso-8859-1', dtype='string')
grande_grupo.rename(columns={'CODIGO':'grande_grupo', 'TITULO':'descricao_grande_grupo'}, inplace=True)
grande_grupo['descricao_grande_grupo'] = grande_grupo['descricao_grande_grupo'].str.capitalize()

#perfil = pd.read_csv('/content/drive/MyDrive/br_ibge_cbo2002/CBO2002 - PerfilOcupacional.csv', sep=';', encoding='iso-8859-1', error_bad_lines=False, dtype='string')
#sinonimo = pd.read_csv('/content/drive/MyDrive/br_ibge_cbo2002/CBO2002 - Sinonimo.csv', sep=';', encoding='iso-8859-1', dtype='string')

In [63]:
pt1 = pd.merge(ocupacao, familia, how='left', left_on=['familia'], right_on=['familia'])
pt2 = pd.merge(pt1, subgrupo, how='left', left_on=['subgrupo'], right_on=['subgrupo'])
pt3 = pd.merge(pt2, subgrupo_principal, how='left', left_on=['subgrupo_principal'], right_on=['subgrupo_principal'])
cbo_2002 = pd.merge(pt3, grande_grupo, how='left', left_on=['grande_grupo'], right_on=['grande_grupo'])

ordem = ['cbo_2002', 'descricao', 'familia', 'descricao_familia', 'subgrupo', 'descricao_subgrupo',
         'subgrupo_principal', 'descricao_subgrupo_principal', 'grande_grupo', 'descricao_grande_grupo']
cbo_2002 = cbo_2002[ordem]

In [64]:
df = pd.DataFrame({'cbo_2002': ['422215', '354110', '373205', '373210', '342525', '314605', '342520', '261720', '373115', '373215',
                                '514210', '373125', '253105', '324210', '373110', '373120', '991405', '223115'],
                  'descricao': ['Monitor de teleatendimento', 
                                'Especialistas em promoção de produtos e vendas', 
                                'Técnico em operação de equipamentos de produção para televisão e produtoras de vídeo',
                                'Técnico em operação de equipamento de exibição de televisão', 
                                'Gerente de empresa aérea em aeroportos', 
                                'Inspetor de soldagem', 
                                'Gerente da administração de aeroportos',
                                'Locutor publicitário de rádio e televisão', 
                                'Operador de externa (rádio)', 
                                'Técnico em operação de equipamentos de transmissão/recepção de televisão',
                                'Auxiliar de manutenção predial', 
                                'Operador de transmissor de rádio',
                                'Relações públicas', 
                                'Auxiliar técnico em patologia clínica', 
                                'Operador de central de rádio',
                                'Operador de gravação de rádio', 
                                'Trabalhador da manutenção de edificações', 
                                'Médico clínico'],
                  'familia': ['4222', '3541', '3732', '3732', '3425', '3146', '3425', '2617', '3731', '3732', 
                              '5142', '3731', '2531', '3242', '3731', '3731', '9914', '2231'],
                  'descricao_familia': ['Operadores de telefonia', 
                                        'Especialistas em promoção de produtos e vendas', 
                                        'Técnicos em operação de sistemas de televisão e de produtoras de vídeo',
                                        'Técnicos em operação de sistemas de televisão e de produtoras de vídeo',
                                        'Técnicos em transportes aéreos', 
                                        'Técnicos em metalurgia (estruturas metálicas)',
                                        'Técnicos em transportes aéreos', 
                                        'Locutores, comentaristas e repórteres de rádio e televisão', 
                                        'Técnicos de operação de emissoras de rádio',
                                        'Técnicos em operação de sistemas de televisão e de produtoras de vídeo', 
                                        'Trabalhadores nos serviços de coleta de resíduos, de limpeza e conservação de áreas públicas',
                                        'Técnicos de operação de emissoras de rádio',
                                        'Profissionais de publicidade', 
                                        'Técnicos de laboratórios de saúde e bancos de sangue', 
                                        'Técnicos de operação de emissoras de rádio',
                                        'Técnicos de operação de emissoras de rádio', 
                                        'Mantenedores de edificações', 
                                        'Médicos'],
                    'subgrupo': ['422', '354', '373', '373', '342', '314', '342', '261', '373', '373', '514', '373', '253', '324', '373', '373', '991', '223'],
                    'descricao_subgrupo': ['Trabalhadores de informações ao público', 
                                        'Técnicos de nivel médio em operações comerciais', 
                                        'Técnicos em operação de emissoras de rádio, sistemas de televisão e de produtoras de vídeo',
                                        'Técnicos em operação de emissoras de rádio, sistemas de televisão e de produtoras de vídeo', 
                                        'Técnicos em transportes (logística)', 
                                        'Técnicos em metalmecânica',
                                        'Técnicos em transportes (logística)', 
                                        'Profissionais da comunicação e da informação', 
                                        'Técnicos em operação de emissoras de rádio, sistemas de televisão e de produtoras de vídeo',
                                        'Técnicos em operação de emissoras de rádio, sistemas de televisão e de produtoras de vídeo', 
                                        'Trabalhadores nos serviços de administração, conservação e manutenção de edifícios e logradouros',
                                        'Técnicos em operação de emissoras de rádio, sistemas de televisão e de produtoras de vídeo', 
                                        'Profissionais de relações públicas, publicidade, marketing e comercialização',
                                        'Técnicos em operação de equipamentos e instrumentos de diagnóstico',
                                        'Técnicos em operação de emissoras de rádio, sistemas de televisão e de produtoras de vídeo', 
                                        'Técnicos em operação de emissoras de rádio, sistemas de televisão e de produtoras de vídeo',
                                        'Mecânicos de manutenção veicular', 
                                        'Profissionais da medicina, saúde e afins'],
                    'subgrupo_principal': ['42', '35', '37', '37', '34', '31', '34', '26', '37', '37', '51', '37', '25', '32', '37', '37', '99', '22'],                             
                    'descricao_subgrupo_principal': ['Trabalhadores de atendimento ao público', 
                                                  'Técnicos de nivel médio nas ciências administrativas', 
                                                  'Técnicos em nivel médio dos serviços culturais, das comunicações e dos desportos',
                                                  'Técnicos em nivel médio dos serviços culturais, das comunicações e dos desportos',
                                                  'Técnicos de nível médio em serviços de transportes', 
                                                  'Técnicos de nível médio das ciências físicas, químicas, engenharia e afins', 
                                                  'Técnicos de nível médio em serviços de transportes',
                                                  'Comunicadores, artistas e religiosos',
                                                  'Técnicos em nivel médio dos serviços culturais, das comunicações e dos desportos', 
                                                  'Técnicos em nivel médio dos serviços culturais, das comunicações e dos desportos',
                                                  'Trabalhadores dos serviços', 
                                                  'Técnicos em nivel médio dos serviços culturais, das comunicações e dos desportos', 
                                                  'Profissionais das ciências sociais e humanas',
                                                  'Técnicos de nível médio das ciências biológicas, bioquímicas, da saúde e afins',
                                                  'Técnicos em nivel médio dos serviços culturais, das comunicações e dos desportos', 
                                                  'Técnicos em nivel médio dos serviços culturais, das comunicações e dos desportos',
                                                  'Trabalhadores em serviços de reparação e manutenção mecânica', 
                                                  'Profissionais das ciências biológicas, da saúde e afins'],
                    'grande_grupo': ['4', '3', '3', '3', '3', '3', '3', '2', '3', '3', '5', '3', '2', '3', '3', '3', '9', '2'],
                    'descricao_grande_grupo': ['Trabalhadores de serviços administrativos', 
                                            'Técnicos de nível médio', 
                                            'Técnicos de nível médio', 
                                            'Técnicos de nível médio', 
                                            'Técnicos de nível médio',
                                            'Técnicos de nível médio', 
                                            'Técnicos de nível médio', 
                                            'Profissionais das ciências e das artes', 
                                            'Técnicos de nível médio', 
                                            'Técnicos de nível médio',
                                            'Trabalhadores dos serviços, vendedores do comércio em lojas e mercados', 
                                            'Técnicos de nível médio', 
                                            'Profissionais das ciências e das artes',
                                            'Técnicos de nível médio', 
                                            'Técnicos de nível médio', 
                                            'Técnicos de nível médio', 
                                            'Trabalhadores em serviços de reparação e manutenção', 
                                            'Profissionais das ciências e das artes']})

In [70]:
cbo_2002 = cbo_2002.append(df, ignore_index=True)
cbo_2002.sort_values('cbo_2002', inplace=True)
cbo_2002.to_csv('/content/cbo_2002_atualizado.csv', index=False, na_rep='')

In [68]:
cbo_2002

     cbo_2002  ...                             descricao_grande_grupo
0      010105  ...  Membros das forças armadas, policiais e bombei...
1      010110  ...  Membros das forças armadas, policiais e bombei...
2      010115  ...  Membros das forças armadas, policiais e bombei...
3      010205  ...  Membros das forças armadas, policiais e bombei...
4      010210  ...  Membros das forças armadas, policiais e bombei...
...       ...  ...                                                ...
2661   992205  ...  Trabalhadores em serviços de reparação e manut...
2662   992210  ...  Trabalhadores em serviços de reparação e manut...
2663   992215  ...  Trabalhadores em serviços de reparação e manut...
2664   992220  ...  Trabalhadores em serviços de reparação e manut...
2665   992225  ...  Trabalhadores em serviços de reparação e manut...

[2684 rows x 10 columns]

In [ ]:
frase = 'TÉCNICOS DE NÍVEL MÉDIO DAS CIÊNCIAS BIOLÓGICAS, BIOQUÍMICAS, DA SAÚDE E AFINS'
frase = frase.capitalize()
frase

'Técnicos de nível médio das ciências biológicas, bioquímicas, da saúde e afins'