In [21]:
import pandas as pd
import os
import numpy as np

In [17]:
os.chdir("/home/matheus/Documentos/bdmais")

diretorio de curso superior e areas de ensino superior

In [6]:
curso = pd.read_csv("bases_cruas/DIRETORIO_cursos.csv", dtype=str)
curso.columns = ["id_area", 'nome_area', "id_curso", "nome_curso", "grau_academico"]

In [7]:
curso = curso.fillna(method='ffill')

In [8]:
curso = curso.drop(labels=255,axis=0)
#curso = curso[curso.columns]

In [9]:
curso.to_csv('bases_prontas/diretorios/dir_curso.csv', index=False, sep= ",")

In [15]:
curso

,id_area,nome_area,id_curso,nome_curso,grau_academico
0,1,Educação,142A01,Processos Escolares - Tecnológico,Tecnológico
1,1,Educação,142C01,Pedagogia (Ciências da Educação) - Bacharelado,Bacharelado
2,1,Educação,142P01,Pedagogia - Licenciatura,Licenciatura
3,1,Educação,144F12,Licenciatura Interdisciplinar em Ciências Huma...,Licenciatura
4,1,Educação,144F13,Licenciatura Intercultural Indígena - Licencia...,Licenciatura
...,...,...,...,...,...
250,8,Serviços,863C02,Ciências da Logística - Bacharelado*,Bacharelado
251,8,Serviços,863F01,Formação Militar - Bacharelado*,Bacharelado
252,9,Outros,999990,Outro curso de formação superior - Licenciatura,Licenciatura
253,9,Outros,999991,Outro curso de formação superior - Bacharelado,Bacharelado
254,9,Outros,999992,Outro curso de formação superior - Tecnológico,Tecnológico