In [1]:
import basedosdados as bd
import pandas as pd
import os
import numpy as np

In [2]:
path = os.path.abspath(os.path.join('..', 'input'))

In [3]:
df = bd.read_table(dataset_id='br_bd_diretorios_brasil',
table_id='municipio',
billing_project_id="dados-bd-359914")

Downloading: 100%|█████████████████████████████████████████████████████████████| 5570/5570 [00:02<00:00, 2353.54rows/s]

### recursos humanos

In [4]:
path_munic = os.path.join(path, 'MUNIC_2018_recursos.csv')
munic_recursos = pd.read_csv(path_munic)

In [5]:
munic_recursos['ano'] = 2018

In [6]:
def lab(munic_recursos):
    if (munic_recursos['MREH02'] == 'Recusa'):
        return 1
    elif (munic_recursos['MREH02'] != 'Recusa'):
        return 0

munic_recursos["recusa"] = munic_recursos.apply(lambda munic_recursos:lab(munic_recursos),axis = 1)

### direta

In [7]:
munic_recursos_direta = munic_recursos.copy()
munic_recursos_direta['tipo_administracao'] = 'Direta'

In [8]:
munic_recursos_direta['MREH0124'] = 0

In [9]:
quant_munic_direta = pd.DataFrame()

for i in ['Estatutários','Celetistas', 'Somente comissionados', 'Estagiários', 'Sem vínculo permanente']:
    munic_recursos_direta['tipo_vinculo'] = i
    for t in ['Total','Sem instrução','Ensino fundamental', 'Ensino médio', 'Ensino superior','Pós-graduação' ]:
        munic_recursos_direta['escolaridade'] = t
        temp1 = munic_recursos_direta[['ano','Cod Municipio','recusa','tipo_administracao','MREH02','tipo_vinculo','escolaridade']]
        quant_munic_direta = quant_munic_direta.append(temp1).reset_index(drop=True)

In [10]:
quant_munic_direta[(quant_munic_direta['escolaridade'] == 'Sem instrução')&(quant_munic_direta['tipo_vinculo'] == 'Estatutários')]

,ano,Cod Municipio,recusa,tipo_administracao,MREH02,tipo_vinculo,escolaridade
5570,2018,1100015,0,Direta,Não,Estatutários,Sem instrução
5571,2018,1100023,0,Direta,Sim,Estatutários,Sem instrução
5572,2018,1100031,0,Direta,Não,Estatutários,Sem instrução
5573,2018,1100049,0,Direta,Sim,Estatutários,Sem instrução
5574,2018,1100056,0,Direta,Não,Estatutários,Sem instrução
...,...,...,...,...,...,...,...
11135,2018,5222005,0,Direta,Sim,Estatutários,Sem instrução
11136,2018,5222054,0,Direta,Sim,Estatutários,Sem instrução
11137,2018,5222203,0,Direta,Não,Estatutários,Sem instrução
11138,2018,5222302,0,Direta,Não,Estatutários,Sem instrução
11139,2018,5300108,0,Direta,Sim,Estatutários,Sem instrução

In [11]:
valor_quant_munic_direta = pd.DataFrame()
for j in ['1','2','3','4','5']:
    for i in ['1','2','3','4','5','6']:
        lista = munic_recursos_direta['MREH01'+i+j].values
        lista = pd.DataFrame(lista)
        valor_quant_munic_direta = valor_quant_munic_direta.append(lista).reset_index(drop=True)

In [12]:
valor_quant_munic_direta = valor_quant_munic_direta.rename(columns={0: 'quantidade_vinculo'})

In [13]:
munic_total_direta = pd.concat([quant_munic_direta,valor_quant_munic_direta],axis= 1)
munic_total_direta

,ano,Cod Municipio,recusa,tipo_administracao,MREH02,tipo_vinculo,escolaridade,quantidade_vinculo
0,2018,1100015,0,Direta,Não,Estatutários,Total,916
1,2018,1100023,0,Direta,Sim,Estatutários,Total,2137
2,2018,1100031,0,Direta,Não,Estatutários,Total,266
3,2018,1100049,0,Direta,Sim,Estatutários,Total,1721
4,2018,1100056,0,Direta,Não,Estatutários,Total,500
...,...,...,...,...,...,...,...,...
167095,2018,5222005,0,Direta,Sim,Sem vínculo permanente,Pós-graduação,(*) Não soube informar
167096,2018,5222054,0,Direta,Sim,Sem vínculo permanente,Pós-graduação,10
167097,2018,5222203,0,Direta,Não,Sem vínculo permanente,Pós-graduação,(*) Não soube informar
167098,2018,5222302,0,Direta,Não,Sem vínculo permanente,Pós-graduação,9
167099,2018,5300108,0,Direta,Sim,Sem vínculo permanente,Pós-graduação,593

### indireta

In [14]:
munic_recursos_indireta = munic_recursos.copy()
munic_recursos_indireta['tipo_administracao'] = 'Indireta'
munic_recursos_indireta['MREH0324'] = 0

In [15]:
quant_munic_indireta = pd.DataFrame()

for i in ['Estatutários','Celetistas', 'Somente comissionados', 'Estagiários', 'Sem vínculo permanente']:
    munic_recursos_indireta['tipo_vinculo'] = i
    for t in ['Total','Sem instrução','Ensino fundamental', 'Ensino médio', 'Ensino superior','Pós-graduação']:
        munic_recursos_indireta['escolaridade'] = t
        temp1 = munic_recursos_indireta[['ano','Cod Municipio','recusa','tipo_administracao','MREH02','tipo_vinculo','escolaridade']]
        quant_munic_indireta = quant_munic_indireta.append(temp1).reset_index(drop=True)

In [16]:
valor_quant_munic_indireta = pd.DataFrame()
for j in ['1','2','3','4','5']:
    for i in ['1','2','3','4','5','6']:
        lista = munic_recursos_indireta['MREH03'+i+j].values
        lista = pd.DataFrame(lista)
        valor_quant_munic_indireta = valor_quant_munic_indireta.append(lista).reset_index(drop=True)

In [17]:
valor_quant_munic_indireta = valor_quant_munic_indireta.rename(columns={0: 'quantidade_vinculo'})

In [18]:
munic_total_indireta = pd.concat([quant_munic_indireta,valor_quant_munic_indireta],axis= 1)

### total

In [19]:
munic_total = munic_total_direta.append(munic_total_indireta).reset_index(drop=True)

In [20]:
munic_total

,ano,Cod Municipio,recusa,tipo_administracao,MREH02,tipo_vinculo,escolaridade,quantidade_vinculo
0,2018,1100015,0,Direta,Não,Estatutários,Total,916
1,2018,1100023,0,Direta,Sim,Estatutários,Total,2137
2,2018,1100031,0,Direta,Não,Estatutários,Total,266
3,2018,1100049,0,Direta,Sim,Estatutários,Total,1721
4,2018,1100056,0,Direta,Não,Estatutários,Total,500
...,...,...,...,...,...,...,...,...
334195,2018,5222005,0,Indireta,Sim,Sem vínculo permanente,Pós-graduação,0
334196,2018,5222054,0,Indireta,Sim,Sem vínculo permanente,Pós-graduação,0
334197,2018,5222203,0,Indireta,Não,Sem vínculo permanente,Pós-graduação,-
334198,2018,5222302,0,Indireta,Não,Sem vínculo permanente,Pós-graduação,-
334199,2018,5300108,0,Indireta,Sim,Sem vínculo permanente,Pós-graduação,0

### excluindo estágiario sem instrução

In [21]:
df_remover =  munic_total.loc[(munic_total['tipo_vinculo'] == 'Estagiários')&(munic_total['escolaridade'] == 'Sem instrução')]

In [22]:
munic_total_novo = munic_total.drop(df_remover.index)
munic_total_novo = munic_total_novo.reset_index().drop('index', axis = 1)
munic_total_novo

,ano,Cod Municipio,recusa,tipo_administracao,MREH02,tipo_vinculo,escolaridade,quantidade_vinculo
0,2018,1100015,0,Direta,Não,Estatutários,Total,916
1,2018,1100023,0,Direta,Sim,Estatutários,Total,2137
2,2018,1100031,0,Direta,Não,Estatutários,Total,266
3,2018,1100049,0,Direta,Sim,Estatutários,Total,1721
4,2018,1100056,0,Direta,Não,Estatutários,Total,500
...,...,...,...,...,...,...,...,...
323055,2018,5222005,0,Indireta,Sim,Sem vínculo permanente,Pós-graduação,0
323056,2018,5222054,0,Indireta,Sim,Sem vínculo permanente,Pós-graduação,0
323057,2018,5222203,0,Indireta,Não,Sem vínculo permanente,Pós-graduação,-
323058,2018,5222302,0,Indireta,Não,Sem vínculo permanente,Pós-graduação,-
323059,2018,5300108,0,Indireta,Sim,Sem vínculo permanente,Pós-graduação,0

In [23]:
munic_total_novo.rename(columns = {'Cod Municipio':'id_municipio', 'MREH02':'existencia_adm_indireta'}, inplace = True)

In [24]:
munic_total_novo[(munic_total_novo['existencia_adm_indireta'] == 'Não')&(munic_total_novo['tipo_administracao'] == 'Indireta')]

,ano,id_municipio,recusa,tipo_administracao,existencia_adm_indireta,tipo_vinculo,escolaridade,quantidade_vinculo
161530,2018,1100015,0,Indireta,Não,Estatutários,Total,-
161532,2018,1100031,0,Indireta,Não,Estatutários,Total,-
161534,2018,1100056,0,Indireta,Não,Estatutários,Total,-
161535,2018,1100064,0,Indireta,Não,Estatutários,Total,-
161536,2018,1100072,0,Indireta,Não,Estatutários,Total,-
...,...,...,...,...,...,...,...,...
323048,2018,5221551,0,Indireta,Não,Sem vínculo permanente,Pós-graduação,-
323049,2018,5221577,0,Indireta,Não,Sem vínculo permanente,Pós-graduação,-
323054,2018,5221908,0,Indireta,Não,Sem vínculo permanente,Pós-graduação,-
323057,2018,5222203,0,Indireta,Não,Sem vínculo permanente,Pós-graduação,-
323058,2018,5222302,0,Indireta,Não,Sem vínculo permanente,Pós-graduação,-

In [25]:
munic_total_novo = munic_total_novo.replace('-', np.nan)
munic_total_novo = munic_total_novo.replace('Recusa', np.nan)
munic_total_novo =  munic_total_novo.replace('Não informou',np.nan)
munic_total_novo =  munic_total_novo.replace('(*) Não soube informar',np.nan)

In [26]:
munic_2018 = munic_total_novo.copy()

In [27]:
df = df[['id_municipio','sigla_uf']]
df['id_municipio'] = df['id_municipio'].astype(int)
munic_2018 = pd.merge(munic_2018, df, how = 'right', on = 'id_municipio')

In [28]:
munic_2018['quantidade_vinculo'] = munic_2018['quantidade_vinculo'].astype('float').astype('Int64')
munic_2018['id_municipio'] = munic_2018['id_municipio'].astype(str)
munic_2018['existencia_adm_indireta'] = munic_2018['existencia_adm_indireta'].replace('Sim', 1)
munic_2018['existencia_adm_indireta'] = munic_2018['existencia_adm_indireta'].replace('Não', 0)
munic_2018['existencia_adm_indireta'] = munic_2018['existencia_adm_indireta'].astype('float').astype('Int64')

In [34]:
#path_2018 = os.path.join(path, 'quantidade_2018.csv')
#munic_2018.to_csv(path_2018, index=False)

## 2019

In [30]:
path_munic = os.path.join(path, 'MUNIC_2019_recursos.csv')
munic_recursos = pd.read_csv(path_munic)
munic_recursos['ano'] = 2019

In [31]:
def lab(munic_recursos):
    if (munic_recursos['MREH02'] == 'Recusa'):
        return 1
    elif (munic_recursos['MREH02'] != 'Recusa'):
        return 0

munic_recursos["recusa"] = munic_recursos.apply(lambda munic_recursos:lab(munic_recursos),axis = 1)

In [32]:
munic_recursos['escolaridade'] ='Total'
munic_recursos

,CodMun,REGIAO,COD UF,UF,NOME MUNIC,CLASSE POP,MREH0111,MREH0112,MREH0113,MREH0114,...,MREH02,MREH0311,MREH0312,MREH0313,MREH0314,MREH0315,MREH0316,ano,recusa,escolaridade
0,1100015,1 - Norte,11,Rondônia,Alta Floresta D'Oeste,4 - 20001 até 50000,797,27,102,0,...,Não,-,-,-,-,-,-,2019,0,Total
1,1100023,1 - Norte,11,Rondônia,Ariquemes,6 - 100001 até 500000,2228,0,200,60,...,Sim,5,0,4,0,0,9,2019,0,Total
2,1100031,1 - Norte,11,Rondônia,Cabixi,2 - 5001 até 10000,276,24,44,0,...,Não,-,-,-,-,-,-,2019,0,Total
3,1100049,1 - Norte,11,Rondônia,Cacoal,5 - 50001 até 100000,1721,0,202,0,...,Sim,99,1,58,0,0,158,2019,0,Total
4,1100056,1 - Norte,11,Rondônia,Cerejeiras,3 - 10001 até 20000,471,39,64,0,...,Não,-,-,-,-,-,-,2019,0,Total
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,5 - Centro-Oeste,52,Goiás,Vianópolis,3 - 10001 até 20000,385,0,71,0,...,Sim,2,0,1,0,0,3,2019,0,Total
5566,5222054,5 - Centro-Oeste,52,Goiás,Vicentinópolis,2 - 5001 até 10000,280,0,62,0,...,Sim,2,0,0,0,0,2,2019,0,Total
5567,5222203,5 - Centro-Oeste,52,Goiás,Vila Boa,2 - 5001 até 10000,306,0,63,0,...,Não,-,-,-,-,-,-,2019,0,Total
5568,5222302,5 - Centro-Oeste,52,Goiás,Vila Propício,2 - 5001 até 10000,138,0,206,0,...,Não,-,-,-,-,-,-,2019,0,Total
5569,5300108,5 - Centro-Oeste,53,Distrito Federal,Brasília,7 - Maior que 500000,102521,97,5164,1047,...,Sim,5044,4218,1069,220,3,10554,2019,0,Total

### direta

In [33]:
munic_recursos_direta = munic_recursos.copy()
munic_recursos_direta['tipo_administracao'] = 'Direta'

In [34]:
quant_munic_direta = pd.DataFrame()

for i in ['Estatutários','Celetistas', 'Somente comissionados', 'Estagiários', 'Sem vínculo permanente']:
    munic_recursos_direta['tipo_vinculo'] = i
    temp1 = munic_recursos_direta[['ano','CodMun','recusa','tipo_administracao','MREH02','tipo_vinculo','escolaridade']]
    quant_munic_direta = quant_munic_direta.append(temp1).reset_index(drop=True)

In [35]:
valor_quant_munic_direta = pd.DataFrame()
for j in ['1','2','3','4','5']:
    lista = munic_recursos_direta['MREH011'+j].values
    lista = pd.DataFrame(lista)
    valor_quant_munic_direta = valor_quant_munic_direta.append(lista).reset_index(drop=True)

In [36]:
valor_quant_munic_direta = valor_quant_munic_direta.rename(columns={0: 'quantidade_vinculo'})

In [37]:
munic_total_direta = pd.concat([quant_munic_direta,valor_quant_munic_direta],axis= 1)
munic_total_direta

,ano,CodMun,recusa,tipo_administracao,MREH02,tipo_vinculo,escolaridade,quantidade_vinculo
0,2019,1100015,0,Direta,Não,Estatutários,Total,797
1,2019,1100023,0,Direta,Sim,Estatutários,Total,2228
2,2019,1100031,0,Direta,Não,Estatutários,Total,276
3,2019,1100049,0,Direta,Sim,Estatutários,Total,1721
4,2019,1100056,0,Direta,Não,Estatutários,Total,471
...,...,...,...,...,...,...,...,...
27845,2019,5222005,0,Direta,Sim,Sem vínculo permanente,Total,72
27846,2019,5222054,0,Direta,Sim,Sem vínculo permanente,Total,52
27847,2019,5222203,0,Direta,Não,Sem vínculo permanente,Total,34
27848,2019,5222302,0,Direta,Não,Sem vínculo permanente,Total,0
27849,2019,5300108,0,Direta,Sim,Sem vínculo permanente,Total,13368

### Indireta

In [38]:
munic_recursos_indireta = munic_recursos.copy()
munic_recursos_indireta['tipo_administracao'] = 'Indireta'

In [39]:
quant_munic_indireta = pd.DataFrame()

for i in ['Estatutários','Celetistas', 'Somente comissionados', 'Estagiários', 'Sem vínculo permanente']:
    munic_recursos_indireta['tipo_vinculo'] = i
    temp1 = munic_recursos_indireta[['ano','CodMun','recusa','tipo_administracao','MREH02','tipo_vinculo','escolaridade']]
    quant_munic_indireta = quant_munic_indireta.append(temp1).reset_index(drop=True)

In [40]:
valor_quant_munic_indireta = pd.DataFrame()
for j in ['1','2','3','4','5']:
    lista = munic_recursos_indireta['MREH031'+j].values
    lista = pd.DataFrame(lista)
    valor_quant_munic_indireta = valor_quant_munic_indireta.append(lista).reset_index(drop=True)

In [41]:
valor_quant_munic_indireta = valor_quant_munic_indireta.rename(columns={0: 'quantidade_vinculo'})

In [42]:
munic_total_indireta = pd.concat([quant_munic_indireta,valor_quant_munic_indireta],axis= 1)
munic_total_indireta

,ano,CodMun,recusa,tipo_administracao,MREH02,tipo_vinculo,escolaridade,quantidade_vinculo
0,2019,1100015,0,Indireta,Não,Estatutários,Total,-
1,2019,1100023,0,Indireta,Sim,Estatutários,Total,5
2,2019,1100031,0,Indireta,Não,Estatutários,Total,-
3,2019,1100049,0,Indireta,Sim,Estatutários,Total,99
4,2019,1100056,0,Indireta,Não,Estatutários,Total,-
...,...,...,...,...,...,...,...,...
27845,2019,5222005,0,Indireta,Sim,Sem vínculo permanente,Total,0
27846,2019,5222054,0,Indireta,Sim,Sem vínculo permanente,Total,0
27847,2019,5222203,0,Indireta,Não,Sem vínculo permanente,Total,-
27848,2019,5222302,0,Indireta,Não,Sem vínculo permanente,Total,-
27849,2019,5300108,0,Indireta,Sim,Sem vínculo permanente,Total,3

### total

In [43]:
munic_total = munic_total_direta.append(munic_total_indireta).reset_index(drop=True)

In [44]:
munic_total.rename(columns = {'CodMun': 'id_municipio', 'MREH02':'existencia_adm_indireta'}, inplace = True)
munic_total

,ano,id_municipio,recusa,tipo_administracao,existencia_adm_indireta,tipo_vinculo,escolaridade,quantidade_vinculo
0,2019,1100015,0,Direta,Não,Estatutários,Total,797
1,2019,1100023,0,Direta,Sim,Estatutários,Total,2228
2,2019,1100031,0,Direta,Não,Estatutários,Total,276
3,2019,1100049,0,Direta,Sim,Estatutários,Total,1721
4,2019,1100056,0,Direta,Não,Estatutários,Total,471
...,...,...,...,...,...,...,...,...
55695,2019,5222005,0,Indireta,Sim,Sem vínculo permanente,Total,0
55696,2019,5222054,0,Indireta,Sim,Sem vínculo permanente,Total,0
55697,2019,5222203,0,Indireta,Não,Sem vínculo permanente,Total,-
55698,2019,5222302,0,Indireta,Não,Sem vínculo permanente,Total,-
55699,2019,5300108,0,Indireta,Sim,Sem vínculo permanente,Total,3

In [45]:
munic_total

,ano,id_municipio,recusa,tipo_administracao,existencia_adm_indireta,tipo_vinculo,escolaridade,quantidade_vinculo
0,2019,1100015,0,Direta,Não,Estatutários,Total,797
1,2019,1100023,0,Direta,Sim,Estatutários,Total,2228
2,2019,1100031,0,Direta,Não,Estatutários,Total,276
3,2019,1100049,0,Direta,Sim,Estatutários,Total,1721
4,2019,1100056,0,Direta,Não,Estatutários,Total,471
...,...,...,...,...,...,...,...,...
55695,2019,5222005,0,Indireta,Sim,Sem vínculo permanente,Total,0
55696,2019,5222054,0,Indireta,Sim,Sem vínculo permanente,Total,0
55697,2019,5222203,0,Indireta,Não,Sem vínculo permanente,Total,-
55698,2019,5222302,0,Indireta,Não,Sem vínculo permanente,Total,-
55699,2019,5300108,0,Indireta,Sim,Sem vínculo permanente,Total,3

In [46]:
munic_total = munic_total.replace('-', np.nan)
munic_total = munic_total.replace('Recusa', np.nan)
munic_total =  munic_total.replace('Não informou',np.nan)
munic_total =  munic_total.replace('(*) Não soube informar',np.nan)

In [47]:
munic_2019 = munic_total.copy()

In [48]:
df = df[['id_municipio','sigla_uf']]
df['id_municipio'] = df['id_municipio'].astype(int)
munic_2019 = pd.merge(munic_2019, df, how = 'right', on = 'id_municipio')

In [49]:
munic_2019['quantidade_vinculo'] = munic_2019['quantidade_vinculo'].astype('float').astype('Int64')
munic_2019['id_municipio'] = munic_2019['id_municipio'].astype(str)
munic_2019['existencia_adm_indireta'] = munic_2019['existencia_adm_indireta'].replace('Sim', 1)
munic_2019['existencia_adm_indireta'] = munic_2019['existencia_adm_indireta'].replace('Não', 0)
munic_2019['existencia_adm_indireta'] = munic_2019['existencia_adm_indireta'].astype('float').astype('Int64')

In [50]:
munic_2019 = munic_2019[['ano',
                         'sigla_uf',
                         'id_municipio',
                         'recusa',
                         'tipo_administracao',
                         'existencia_adm_indireta',
                         'tipo_vinculo',
                         'escolaridade',
                        'quantidade_vinculo']]

In [51]:
munic_2019

,ano,sigla_uf,id_municipio,recusa,tipo_administracao,existencia_adm_indireta,tipo_vinculo,escolaridade,quantidade_vinculo
0,2019,RO,1100023,0,Direta,1,Estatutários,Total,2228
1,2019,RO,1100023,0,Direta,1,Celetistas,Total,0
2,2019,RO,1100023,0,Direta,1,Somente comissionados,Total,200
3,2019,RO,1100023,0,Direta,1,Estagiários,Total,60
4,2019,RO,1100023,0,Direta,1,Sem vínculo permanente,Total,75
...,...,...,...,...,...,...,...,...,...
55695,2019,GO,5222203,0,Indireta,0,Estatutários,Total,<NA>
55696,2019,GO,5222203,0,Indireta,0,Celetistas,Total,<NA>
55697,2019,GO,5222203,0,Indireta,0,Somente comissionados,Total,<NA>
55698,2019,GO,5222203,0,Indireta,0,Estagiários,Total,<NA>
55699,2019,GO,5222203,0,Indireta,0,Sem vínculo permanente,Total,<NA>

In [63]:
#path_2019 = os.path.join(path, 'quantidade_2019.csv')
#munic_2019.to_csv(path_2019, index=False)

### 2020

In [52]:
path_munic = os.path.join(path, 'MUNIC_2020_recursos.csv')
munic_recursos = pd.read_csv(path_munic)
munic_recursos['ano'] = 2020
munic_recursos['escolaridade'] ='Total'

In [53]:
def lab(munic_recursos):
    if (munic_recursos['Mreh02'] == 'Recusa'):
        return 1
    elif (munic_recursos['Mreh02'] != 'Recusa'):
        return 0

munic_recursos["recusa"] = munic_recursos.apply(lambda munic_recursos:lab(munic_recursos),axis = 1)

In [54]:
munic_recursos

,CodMun,UF,Cod UF,Mun,Faixa_pop,Regiao,Mreh0111,Mreh0112,Mreh0113,Mreh0114,...,Mreh02,Mreh0311,Mreh0312,Mreh0313,Mreh0314,Mreh0315,Mreh0316,ano,escolaridade,recusa
0,1100015,RO,11,Alta Floresta DOeste,4 - 20001 até 50000,1 - Norte,899,19,47,0,...,Sim,0,12,2,0,0,14,2020,Total,0
1,1100023,RO,11,Ariquemes,6 - 100001 até 500000,1 - Norte,2260,194,213,76,...,Sim,6,0,4,0,0,10,2020,Total,0
2,1100031,RO,11,Cabixi,2 - 5001 até 10000,1 - Norte,271,24,54,0,...,Não,-,-,-,-,-,-,2020,Total,0
3,1100049,RO,11,Cacoal,5 - 50001 até 100000,1 - Norte,1698,10,222,0,...,Sim,99,0,44,0,0,143,2020,Total,0
4,1100056,RO,11,Cerejeiras,3 - 10001 até 20000,1 - Norte,530,35,53,1,...,Não,-,-,-,-,-,-,2020,Total,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,GO,52,Vianópolis,3 - 10001 até 20000,5 - Centro-Oeste,408,0,52,0,...,Sim,2,0,0,0,0,2,2020,Total,0
5566,5222054,GO,52,Vicentinópolis,2 - 5001 até 10000,5 - Centro-Oeste,340,0,60,0,...,Sim,0,0,0,0,2,2,2020,Total,0
5567,5222203,GO,52,Vila Boa,2 - 5001 até 10000,5 - Centro-Oeste,241,0,58,9,...,Não,-,-,-,-,-,-,2020,Total,0
5568,5222302,GO,52,Vila Propício,2 - 5001 até 10000,5 - Centro-Oeste,140,0,226,0,...,Não,-,-,-,-,-,-,2020,Total,0
5569,5300108,DF,53,Brasília,7 - Maior que 500000,5 - Centro-Oeste,78184,401,6313,938,...,Sim,4240,4125,1067,211,159,9802,2020,Total,0

### direta

In [55]:
munic_recursos_direta = munic_recursos.copy()
munic_recursos_direta['tipo_administracao'] = 'Direta'

In [56]:
quant_munic_direta = pd.DataFrame()

for i in ['Estatutários','Celetistas', 'Somente comissionados', 'Estagiários', 'Sem vínculo permanente']:
    munic_recursos_direta['tipo_vinculo'] = i
    temp1 = munic_recursos_direta[['ano', 'UF','CodMun','recusa','tipo_administracao','Mreh02','tipo_vinculo', 'escolaridade']]
    quant_munic_direta = quant_munic_direta.append(temp1).reset_index(drop=True)

In [57]:
valor_quant_munic_direta = pd.DataFrame()
for j in ['1','2','3','4','5']:
    lista = munic_recursos_direta['Mreh011'+j].values
    lista = pd.DataFrame(lista)
    valor_quant_munic_direta = valor_quant_munic_direta.append(lista).reset_index(drop=True)

In [58]:
valor_quant_munic_direta = valor_quant_munic_direta.rename(columns={0: 'quantidade_vinculo'})
munic_total_direta = pd.concat([quant_munic_direta,valor_quant_munic_direta],axis= 1)
munic_total_direta

,ano,UF,CodMun,recusa,tipo_administracao,Mreh02,tipo_vinculo,escolaridade,quantidade_vinculo
0,2020,RO,1100015,0,Direta,Sim,Estatutários,Total,899
1,2020,RO,1100023,0,Direta,Sim,Estatutários,Total,2260
2,2020,RO,1100031,0,Direta,Não,Estatutários,Total,271
3,2020,RO,1100049,0,Direta,Sim,Estatutários,Total,1698
4,2020,RO,1100056,0,Direta,Não,Estatutários,Total,530
...,...,...,...,...,...,...,...,...,...
27845,2020,GO,5222005,0,Direta,Sim,Sem vínculo permanente,Total,115
27846,2020,GO,5222054,0,Direta,Sim,Sem vínculo permanente,Total,39
27847,2020,GO,5222203,0,Direta,Não,Sem vínculo permanente,Total,44
27848,2020,GO,5222302,0,Direta,Não,Sem vínculo permanente,Total,0
27849,2020,DF,5300108,0,Direta,Sim,Sem vínculo permanente,Total,14358

### indireta

In [59]:
munic_recursos_indireta = munic_recursos.copy()
munic_recursos_indireta['tipo_administracao'] = 'Indireta'

In [60]:
quant_munic_indireta = pd.DataFrame()

for i in ['Estatutários','Celetistas', 'Somente comissionados', 'Estagiários', 'Sem vínculo permanente']:
    munic_recursos_indireta['tipo_vinculo'] = i
    temp1 = munic_recursos_indireta[['ano', 'UF','CodMun','recusa','tipo_administracao','Mreh02','tipo_vinculo', 'escolaridade']]
    quant_munic_indireta = quant_munic_indireta.append(temp1).reset_index(drop=True)

In [61]:
valor_quant_munic_indireta = pd.DataFrame()
for j in ['1','2','3','4','5']:
    lista = munic_recursos_indireta['Mreh031'+j].values
    lista = pd.DataFrame(lista)
    valor_quant_munic_indireta = valor_quant_munic_indireta.append(lista).reset_index(drop=True)

In [62]:
valor_quant_munic_indireta = valor_quant_munic_indireta.rename(columns={0: 'quantidade_vinculo'})
munic_total_indireta = pd.concat([quant_munic_indireta,valor_quant_munic_indireta],axis= 1)
munic_total_indireta

,ano,UF,CodMun,recusa,tipo_administracao,Mreh02,tipo_vinculo,escolaridade,quantidade_vinculo
0,2020,RO,1100015,0,Indireta,Sim,Estatutários,Total,0
1,2020,RO,1100023,0,Indireta,Sim,Estatutários,Total,6
2,2020,RO,1100031,0,Indireta,Não,Estatutários,Total,-
3,2020,RO,1100049,0,Indireta,Sim,Estatutários,Total,99
4,2020,RO,1100056,0,Indireta,Não,Estatutários,Total,-
...,...,...,...,...,...,...,...,...,...
27845,2020,GO,5222005,0,Indireta,Sim,Sem vínculo permanente,Total,0
27846,2020,GO,5222054,0,Indireta,Sim,Sem vínculo permanente,Total,2
27847,2020,GO,5222203,0,Indireta,Não,Sem vínculo permanente,Total,-
27848,2020,GO,5222302,0,Indireta,Não,Sem vínculo permanente,Total,-
27849,2020,DF,5300108,0,Indireta,Sim,Sem vínculo permanente,Total,159

### total

In [63]:
munic_total = munic_total_direta.append(munic_total_indireta).reset_index(drop=True)
munic_total

,ano,UF,CodMun,recusa,tipo_administracao,Mreh02,tipo_vinculo,escolaridade,quantidade_vinculo
0,2020,RO,1100015,0,Direta,Sim,Estatutários,Total,899
1,2020,RO,1100023,0,Direta,Sim,Estatutários,Total,2260
2,2020,RO,1100031,0,Direta,Não,Estatutários,Total,271
3,2020,RO,1100049,0,Direta,Sim,Estatutários,Total,1698
4,2020,RO,1100056,0,Direta,Não,Estatutários,Total,530
...,...,...,...,...,...,...,...,...,...
55695,2020,GO,5222005,0,Indireta,Sim,Sem vínculo permanente,Total,0
55696,2020,GO,5222054,0,Indireta,Sim,Sem vínculo permanente,Total,2
55697,2020,GO,5222203,0,Indireta,Não,Sem vínculo permanente,Total,-
55698,2020,GO,5222302,0,Indireta,Não,Sem vínculo permanente,Total,-
55699,2020,DF,5300108,0,Indireta,Sim,Sem vínculo permanente,Total,159

In [64]:
munic_total.rename(columns = {'CodMun': 'id_municipio', 'UF':'sigla_uf','Mreh02':'existencia_adm_indireta'}, inplace = True)
munic_total

,ano,sigla_uf,id_municipio,recusa,tipo_administracao,existencia_adm_indireta,tipo_vinculo,escolaridade,quantidade_vinculo
0,2020,RO,1100015,0,Direta,Sim,Estatutários,Total,899
1,2020,RO,1100023,0,Direta,Sim,Estatutários,Total,2260
2,2020,RO,1100031,0,Direta,Não,Estatutários,Total,271
3,2020,RO,1100049,0,Direta,Sim,Estatutários,Total,1698
4,2020,RO,1100056,0,Direta,Não,Estatutários,Total,530
...,...,...,...,...,...,...,...,...,...
55695,2020,GO,5222005,0,Indireta,Sim,Sem vínculo permanente,Total,0
55696,2020,GO,5222054,0,Indireta,Sim,Sem vínculo permanente,Total,2
55697,2020,GO,5222203,0,Indireta,Não,Sem vínculo permanente,Total,-
55698,2020,GO,5222302,0,Indireta,Não,Sem vínculo permanente,Total,-
55699,2020,DF,5300108,0,Indireta,Sim,Sem vínculo permanente,Total,159

In [65]:
munic_total = munic_total.replace('-', np.nan)
munic_total = munic_total.replace('Recusa', np.nan)
munic_total =  munic_total.replace('Não informou',np.nan)
munic_total =  munic_total.replace('(*) Não soube informar',np.nan)

In [66]:
munic_2020 = munic_total.copy()

In [67]:
munic_2020['quantidade_vinculo'] = munic_2020['quantidade_vinculo'].astype('float').astype('Int64')
munic_2020['id_municipio'] = munic_2020['id_municipio'].astype(str)
munic_2020['existencia_adm_indireta'] = munic_2020['existencia_adm_indireta'].replace('Sim', 1)
munic_2020['existencia_adm_indireta'] = munic_2020['existencia_adm_indireta'].replace('Não', 0)
munic_2020['existencia_adm_indireta'] = munic_2020['existencia_adm_indireta'].astype('float').astype('Int64')

In [68]:
munic_2020

,ano,sigla_uf,id_municipio,recusa,tipo_administracao,existencia_adm_indireta,tipo_vinculo,escolaridade,quantidade_vinculo
0,2020,RO,1100015,0,Direta,1,Estatutários,Total,899
1,2020,RO,1100023,0,Direta,1,Estatutários,Total,2260
2,2020,RO,1100031,0,Direta,0,Estatutários,Total,271
3,2020,RO,1100049,0,Direta,1,Estatutários,Total,1698
4,2020,RO,1100056,0,Direta,0,Estatutários,Total,530
...,...,...,...,...,...,...,...,...,...
55695,2020,GO,5222005,0,Indireta,1,Sem vínculo permanente,Total,0
55696,2020,GO,5222054,0,Indireta,1,Sem vínculo permanente,Total,2
55697,2020,GO,5222203,0,Indireta,0,Sem vínculo permanente,Total,<NA>
55698,2020,GO,5222302,0,Indireta,0,Sem vínculo permanente,Total,<NA>
55699,2020,DF,5300108,0,Indireta,1,Sem vínculo permanente,Total,159

In [82]:
#path_2020 = os.path.join(path, 'quantidade_2020.csv')
#munic_2020.to_csv(path_2020, index=False)

## 2021

In [69]:
path_munic = os.path.join(path, 'MUNIC_2021_recursos.csv')
munic_recursos = pd.read_csv(path_munic)
munic_recursos['ano'] = 2021
munic_recursos['escolaridade'] ='Total'

In [70]:
def lab(munic_recursos):
    if (munic_recursos['Mreh02'] == 'Recusa'):
        return 1
    elif (munic_recursos['Mreh02'] != 'Recusa'):
        return 0

munic_recursos["recusa"] = munic_recursos.apply(lambda munic_recursos:lab(munic_recursos),axis = 1)

### direta

In [71]:
munic_recursos_direta = munic_recursos.copy()
munic_recursos_direta['tipo_administracao'] = 'Direta'

In [72]:
munic_recursos_direta

,CodMun,UF,Cod UF,Mun,Pop,Faixa_pop,Regiao,Mreh0111,Mreh0112,Mreh0113,...,Mreh0311,Mreh0312,Mreh0313,Mreh0314,Mreh0315,Mreh0316,ano,escolaridade,recusa,tipo_administracao
0,1100015,RO,11,Alta Floresta DOeste,22516,4 - 20001 até 50000,1 - Norte,1175,92,85,...,0,14,2,0,0,16,2021,Total,0,Direta
1,1100023,RO,11,Ariquemes,111148,6 - 100001 até 500000,1 - Norte,2185,163,235,...,6,0,5,0,0,11,2021,Total,0,Direta
2,1100031,RO,11,Cabixi,5067,2 - 5001 até 10000,1 - Norte,250,22,64,...,-,-,-,-,-,-,2021,Total,0,Direta
3,1100049,RO,11,Cacoal,86416,5 - 50001 até 100000,1 - Norte,1755,0,231,...,93,0,50,0,2,145,2021,Total,0,Direta
4,1100056,RO,11,Cerejeiras,16088,3 - 10001 até 20000,1 - Norte,513,43,60,...,-,-,-,-,-,-,2021,Total,0,Direta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,GO,52,Vianópolis,14088,3 - 10001 até 20000,5 - Centro-Oeste,370,0,62,...,2,0,0,0,0,2,2021,Total,0,Direta
5566,5222054,GO,52,Vicentinópolis,9002,2 - 5001 até 10000,5 - Centro-Oeste,317,0,89,...,1,0,1,0,0,2,2021,Total,0,Direta
5567,5222203,GO,52,Vila Boa,6451,2 - 5001 até 10000,5 - Centro-Oeste,237,0,67,...,-,-,-,-,-,-,2021,Total,0,Direta
5568,5222302,GO,52,Vila Propício,5941,2 - 5001 até 10000,5 - Centro-Oeste,138,0,139,...,-,-,-,-,-,-,2021,Total,0,Direta
5569,5300108,DF,53,Brasília,3094325,7 - Maior que 500000,5 - Centro-Oeste,97636,382,6437,...,4084,9542,1342,196,151,15315,2021,Total,0,Direta

In [73]:
quant_munic_direta = pd.DataFrame()

for i in ['Estatutários','Celetistas', 'Somente comissionados', 'Estagiários', 'Sem vínculo permanente']:
    munic_recursos_direta['tipo_vinculo'] = i
    temp1 = munic_recursos_direta[['ano', 'UF','CodMun','recusa','tipo_administracao','Mreh02','tipo_vinculo', 'escolaridade']]
    quant_munic_direta = quant_munic_direta.append(temp1).reset_index(drop=True)

In [74]:
valor_quant_munic_direta = pd.DataFrame()
for j in ['1','2','3','4','5']:
    lista = munic_recursos_direta['Mreh011'+j].values
    lista = pd.DataFrame(lista)
    valor_quant_munic_direta = valor_quant_munic_direta.append(lista).reset_index(drop=True)

In [75]:
valor_quant_munic_direta = valor_quant_munic_direta.rename(columns={0: 'quantidade_vinculo'})
munic_total_direta = pd.concat([quant_munic_direta,valor_quant_munic_direta],axis= 1)
munic_total_direta

,ano,UF,CodMun,recusa,tipo_administracao,Mreh02,tipo_vinculo,escolaridade,quantidade_vinculo
0,2021,RO,1100015,0,Direta,Sim,Estatutários,Total,1175
1,2021,RO,1100023,0,Direta,Sim,Estatutários,Total,2185
2,2021,RO,1100031,0,Direta,Não,Estatutários,Total,250
3,2021,RO,1100049,0,Direta,Sim,Estatutários,Total,1755
4,2021,RO,1100056,0,Direta,Não,Estatutários,Total,513
...,...,...,...,...,...,...,...,...,...
27845,2021,GO,5222005,0,Direta,Sim,Sem vínculo permanente,Total,45
27846,2021,GO,5222054,0,Direta,Sim,Sem vínculo permanente,Total,60
27847,2021,GO,5222203,0,Direta,Não,Sem vínculo permanente,Total,5
27848,2021,GO,5222302,0,Direta,Não,Sem vínculo permanente,Total,15
27849,2021,DF,5300108,0,Direta,Sim,Sem vínculo permanente,Total,13690

In [76]:
munic_total_direta[munic_total_direta['CodMun'] == 1506401]

,ano,UF,CodMun,recusa,tipo_administracao,Mreh02,tipo_vinculo,escolaridade,quantidade_vinculo
258,2021,PA,1506401,0,Direta,Não,Estatutários,Total,Não informou
5828,2021,PA,1506401,0,Direta,Não,Celetistas,Total,Não informou
11398,2021,PA,1506401,0,Direta,Não,Somente comissionados,Total,Não informou
16968,2021,PA,1506401,0,Direta,Não,Estagiários,Total,Não informou
22538,2021,PA,1506401,0,Direta,Não,Sem vínculo permanente,Total,Não informou

### indireta

In [77]:
munic_recursos_indireta = munic_recursos.copy()
munic_recursos_indireta['tipo_administracao'] = 'Indireta'

In [78]:
quant_munic_indireta = pd.DataFrame()

for i in ['Estatutários','Celetistas', 'Somente comissionados', 'Estagiários', 'Sem vínculo permanente']:
    munic_recursos_indireta['tipo_vinculo'] = i
    temp1 = munic_recursos_indireta[['ano', 'UF','CodMun','recusa','tipo_administracao','Mreh02','tipo_vinculo', 'escolaridade']]
    quant_munic_indireta = quant_munic_indireta.append(temp1).reset_index(drop=True)

In [79]:
valor_quant_munic_indireta = pd.DataFrame()
for j in ['1','2','3','4','5']:
    lista = munic_recursos_indireta['Mreh031'+j].values
    lista = pd.DataFrame(lista)
    valor_quant_munic_indireta = valor_quant_munic_indireta.append(lista).reset_index(drop=True)

In [80]:
valor_quant_munic_indireta = valor_quant_munic_indireta.rename(columns={0: 'quantidade_vinculo'})
munic_total_indireta = pd.concat([quant_munic_indireta,valor_quant_munic_indireta],axis= 1)
munic_total_indireta

,ano,UF,CodMun,recusa,tipo_administracao,Mreh02,tipo_vinculo,escolaridade,quantidade_vinculo
0,2021,RO,1100015,0,Indireta,Sim,Estatutários,Total,0
1,2021,RO,1100023,0,Indireta,Sim,Estatutários,Total,6
2,2021,RO,1100031,0,Indireta,Não,Estatutários,Total,-
3,2021,RO,1100049,0,Indireta,Sim,Estatutários,Total,93
4,2021,RO,1100056,0,Indireta,Não,Estatutários,Total,-
...,...,...,...,...,...,...,...,...,...
27845,2021,GO,5222005,0,Indireta,Sim,Sem vínculo permanente,Total,0
27846,2021,GO,5222054,0,Indireta,Sim,Sem vínculo permanente,Total,0
27847,2021,GO,5222203,0,Indireta,Não,Sem vínculo permanente,Total,-
27848,2021,GO,5222302,0,Indireta,Não,Sem vínculo permanente,Total,-
27849,2021,DF,5300108,0,Indireta,Sim,Sem vínculo permanente,Total,151

### total

In [81]:
munic_total = munic_total_direta.append(munic_total_indireta).reset_index(drop=True)
munic_total

,ano,UF,CodMun,recusa,tipo_administracao,Mreh02,tipo_vinculo,escolaridade,quantidade_vinculo
0,2021,RO,1100015,0,Direta,Sim,Estatutários,Total,1175
1,2021,RO,1100023,0,Direta,Sim,Estatutários,Total,2185
2,2021,RO,1100031,0,Direta,Não,Estatutários,Total,250
3,2021,RO,1100049,0,Direta,Sim,Estatutários,Total,1755
4,2021,RO,1100056,0,Direta,Não,Estatutários,Total,513
...,...,...,...,...,...,...,...,...,...
55695,2021,GO,5222005,0,Indireta,Sim,Sem vínculo permanente,Total,0
55696,2021,GO,5222054,0,Indireta,Sim,Sem vínculo permanente,Total,0
55697,2021,GO,5222203,0,Indireta,Não,Sem vínculo permanente,Total,-
55698,2021,GO,5222302,0,Indireta,Não,Sem vínculo permanente,Total,-
55699,2021,DF,5300108,0,Indireta,Sim,Sem vínculo permanente,Total,151

In [82]:
munic_total.rename(columns = {'CodMun': 'id_municipio', 'UF':'sigla_uf','Mreh02':'existencia_adm_indireta'}, inplace = True)
munic_total

,ano,sigla_uf,id_municipio,recusa,tipo_administracao,existencia_adm_indireta,tipo_vinculo,escolaridade,quantidade_vinculo
0,2021,RO,1100015,0,Direta,Sim,Estatutários,Total,1175
1,2021,RO,1100023,0,Direta,Sim,Estatutários,Total,2185
2,2021,RO,1100031,0,Direta,Não,Estatutários,Total,250
3,2021,RO,1100049,0,Direta,Sim,Estatutários,Total,1755
4,2021,RO,1100056,0,Direta,Não,Estatutários,Total,513
...,...,...,...,...,...,...,...,...,...
55695,2021,GO,5222005,0,Indireta,Sim,Sem vínculo permanente,Total,0
55696,2021,GO,5222054,0,Indireta,Sim,Sem vínculo permanente,Total,0
55697,2021,GO,5222203,0,Indireta,Não,Sem vínculo permanente,Total,-
55698,2021,GO,5222302,0,Indireta,Não,Sem vínculo permanente,Total,-
55699,2021,DF,5300108,0,Indireta,Sim,Sem vínculo permanente,Total,151

In [83]:
munic_total = munic_total.replace('-', np.nan)
munic_total = munic_total.replace('Recusa', np.nan)
munic_total =  munic_total.replace('Não informou',np.nan)
munic_total =  munic_total.replace('(*) Não soube informar',np.nan)

In [84]:
munic_2021 = munic_total.copy()

In [85]:
munic_2021['quantidade_vinculo'] = munic_2021['quantidade_vinculo'].astype('float').astype('Int64')
munic_2021['id_municipio'] = munic_2021['id_municipio'].astype(str)
munic_2021['existencia_adm_indireta'] = munic_2021['existencia_adm_indireta'].replace('Sim', 1)
munic_2021['existencia_adm_indireta'] = munic_2021['existencia_adm_indireta'].replace('Não', 0)
munic_2021['existencia_adm_indireta'] = munic_2021['existencia_adm_indireta'].astype('float').astype('Int64')

In [86]:
munic_2021[(munic_2021['existencia_adm_indireta'] == 0)&(munic_2021['tipo_administracao'] == 'Indireta')]

,ano,sigla_uf,id_municipio,recusa,tipo_administracao,existencia_adm_indireta,tipo_vinculo,escolaridade,quantidade_vinculo
27852,2021,RO,1100031,0,Indireta,0,Estatutários,Total,<NA>
27854,2021,RO,1100056,0,Indireta,0,Estatutários,Total,<NA>
27855,2021,RO,1100064,0,Indireta,0,Estatutários,Total,<NA>
27856,2021,RO,1100072,0,Indireta,0,Estatutários,Total,<NA>
27857,2021,RO,1100080,0,Indireta,0,Estatutários,Total,<NA>
...,...,...,...,...,...,...,...,...,...
55689,2021,GO,5221577,0,Indireta,0,Sem vínculo permanente,Total,<NA>
55690,2021,GO,5221601,0,Indireta,0,Sem vínculo permanente,Total,<NA>
55691,2021,GO,5221700,0,Indireta,0,Sem vínculo permanente,Total,<NA>
55697,2021,GO,5222203,0,Indireta,0,Sem vínculo permanente,Total,<NA>
55698,2021,GO,5222302,0,Indireta,0,Sem vínculo permanente,Total,<NA>

In [102]:
#path_2021 = os.path.join(path, 'quantidade_2021.csv')
#munic_2021.to_csv(path_2021, index=False)

### juntando todas as tabelas

In [87]:
df_dados =  pd.concat([munic_2018, munic_2019, munic_2020, munic_2021]).reset_index(drop=True)
df_dados

,ano,id_municipio,recusa,tipo_administracao,existencia_adm_indireta,tipo_vinculo,escolaridade,quantidade_vinculo,sigla_uf
0,2018,1100023,0,Direta,1,Estatutários,Total,2137,RO
1,2018,1100023,0,Direta,1,Estatutários,Sem instrução,0,RO
2,2018,1100023,0,Direta,1,Estatutários,Ensino fundamental,402,RO
3,2018,1100023,0,Direta,1,Estatutários,Ensino médio,684,RO
4,2018,1100023,0,Direta,1,Estatutários,Ensino superior,1044,RO
...,...,...,...,...,...,...,...,...,...
490155,2021,5222005,0,Indireta,1,Sem vínculo permanente,Total,0,GO
490156,2021,5222054,0,Indireta,1,Sem vínculo permanente,Total,0,GO
490157,2021,5222203,0,Indireta,0,Sem vínculo permanente,Total,<NA>,GO
490158,2021,5222302,0,Indireta,0,Sem vínculo permanente,Total,<NA>,GO
490159,2021,5300108,0,Indireta,1,Sem vínculo permanente,Total,151,DF

In [88]:
output = os.path.abspath(os.path.join('..', 'output'))

In [ ]:
#path_df = os.path.join(path, 'munic_geral.csv')
#munic_geral.to_csv(path_df, index=False)

In [91]:
for ano in [*range(2018, 2022)]:
    particao = output + f'\\quantidade_vinculo\\ano={ano}\\'
    if not os.path.exists(particao):
      os.makedirs(particao)

In [93]:
for ano in [*range(2018, 2022)]:
    df_particao = df_dados[df_dados['ano'] == ano].copy() # O .copy não é necessário é apenas uma boa prática
    df_particao.drop(['ano'], axis=1, inplace=True) # É preciso excluir as colunas utilizadas para partição 
    particao = output + f'\\quantidade_vinculo\\ano={ano}\\quantidade_vinculo.csv'
    df_particao.to_csv(particao, index=False, encoding='utf-8', na_rep='')