In [ ]:
!pip install wget
import pandas as pd
import numpy as np
import os
import glob
import wget

In [ ]:
from google.colab import drive
global path_credenciais

drive.mount('/content/gdrive')

path = "/content/gdrive/MyDrive/Dados/" #gustavo

path_credenciais = path + "Credenciais/basedosdados-colab/"

!cp -r "{path_credenciais}" "/root/.basedosdados/"

#### Baixa e lista arquivos INPUT

In [ ]:
#pastas
!mkdir -p "/content/data"
!mkdir -p "/content/data/input"
!mkdir -p "/content/data/input/br"
!mkdir -p "/content/data/input/rm"
!mkdir -p "/content/data/input/mun"
!mkdir -p "/content/data/input/mes"
!mkdir -p "/content/data/output"

link = {"br/grupo":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n1/all/v/all/p/all/c315/7170,7445,7486,7558,7625,7660,7712,7766,7786/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "br/subgrupo":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n1/all/v/all/p/all/c315/7171,7432,7446,7479,7487,7521,7548,7559,7604,7615,7620,7626,7661,7683,7697,7713,7767,7787,47656/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "br/item":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n1/all/v/all/p/all/c315/7172,7184,7200,7219,7241,7254,7283,7303,7335,7349,7356,7372,7384,7389,7401,7415,7433,7447,7454,7461,7480,7484,7488,7495,7517,7522,7541,7549,7560,7572,7587,7605,7616,7621,7627,7640,7656,7662,7684,7690,7695,7698,7714,7730,7758,7777,7782,7788,12427,107678,109464/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "br/subitem":"https://sidra.ibge.gov.br/geratabela/DownloadSelecaoComplexa/947075621",
        "br/geral":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n1/all/v/all/p/all/c315/7169/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "rm/grupo":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n7/all/v/all/p/all/c315/7170,7445,7486,7558,7625,7660,7712,7766,7786/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "rm/subgrupo":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n7/all/v/all/p/all/c315/7171,7432,7446,7479,7487,7521,7548,7559,7604,7615,7620,7626,7661,7683,7697,7713,7767,7787,47656/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "rm/item":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n7/all/v/all/p/all/c315/7172,7184,7200,7219,7241,7254,7283,7303,7335,7349,7356,7372,7384,7389,7401,7415,7433,7447,7454,7461,7480,7484,7488,7495,7517,7522,7541,7549,7560,7572,7587,7605,7616,7621,7627,7640,7656,7662,7684,7690,7695,7698,7714,7730,7758,7777,7782,7788,12427,107678,109464/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "rm/subitem_1":"https://sidra.ibge.gov.br/geratabela/DownloadSelecaoComplexa/947075621",
        "rm/subitem_2":"https://sidra.ibge.gov.br/geratabela/DownloadSelecaoComplexa/847634158",
        "rm/geral":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n7/all/v/all/p/all/c315/7169/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "mun/grupo":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n6/all/v/all/p/all/c315/7170,7445,7486,7558,7625,7660,7712,7766,7786/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "mun/subgrupo":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n6/all/v/all/p/all/c315/7171,7432,7446,7479,7487,7521,7548,7559,7604,7615,7620,7626,7661,7683,7697,7713,7767,7787,47656/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "mun/item":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n6/all/v/all/p/all/c315/7172,7184,7200,7219,7241,7254,7283,7303,7335,7349,7356,7372,7384,7389,7401,7415,7433,7447,7454,7461,7480,7484,7488,7495,7517,7522,7541,7549,7560,7572,7587,7605,7616,7621,7627,7640,7656,7662,7684,7690,7695,7698,7714,7730,7758,7777,7782,7788,12427,107678,109464/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "mun/subitem_1":"https://sidra.ibge.gov.br/geratabela/DownloadSelecaoComplexa/866963382",
        "mun/subitem_2":"https://sidra.ibge.gov.br/geratabela/DownloadSelecaoComplexa/-113176757",
        "mun/geral":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela7060.csv&terr=NC&rank=-&query=t/7060/n6/all/v/all/p/all/c315/7169/d/v63%202,v66%204,v69%202,v2265%202/l/,v,t%2Bp%2Bc315",
        "mes/geral":"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela1737.csv&terr=N&rank=-&query=t/1737/n1/all/v/all/p/all/d/v63%202,v69%202,v2263%202,v2264%202,v2265%202,v2266%2013/l/,v,t%2Bp&abreviarRotulos=True&exibirNotas=False"
        }

for key in link:
  wget.download(link[key],
                out="/content/data/input/"+ key +".csv")
  print("Baixado", key)

arq_br = [arquivo for arquivo in glob.iglob('data/input/br/*')]

arq_rm = [arquivo for arquivo in glob.iglob('data/input/rm/*')]

arq_mun = [arquivo for arquivo in glob.iglob('data/input/mun/*')]

arq_mes = [arquivo for arquivo in glob.iglob('data/input/mes/*')]

#### País

In [ ]:
rename = {"Cód.":"id_pais",
               "Unnamed: 1":"pais",
               "Mês":"ano", 
               "Geral, grupo, subgrupo, item e subitem":"categoria",
               "IPCA - Variação mensal (%)":"variacao_mensal",
               "IPCA - Variação acumulada no ano (%)":"variacao_anual",
               "IPCA - Variação acumulada em 12 meses (%)":"variacao_doze_meses",
               "IPCA - Peso mensal (%)":"peso_mensal"
               }

ordem = ["ano","mes","id_pais","id_categoria","id_categoria_bd","categoria","peso_mensal",
         "variacao_mensal","variacao_anual","variacao_doze_meses"
         ]

n_mes = {'janeiro':'1',
        'fevereiro':'2',
        'março':'3',
        'abril':'4',
        'maio':'5',
        'junho':'6',
        'julho':'7',
        'agosto':'8',
        'setembro':'9',
        'outubro':'10',
        'novembro':'11',
        'dezembro':'12'
        }

for arq in arq_br:
  df = pd.read_csv(arq, skipfooter=14, skiprows=2, sep=';', dtype="str")
  #renomear colunas
  df.rename(columns=rename,inplace=True)
  #substituir "..." por vazio
  df  = df.replace("...","")
  #Alterando código pais
  df['id_pais']  = df['id_pais'].replace("1","50")
  #Normalizando float
  df = df.replace(',','.',regex=True)
  
  #Split coluna data e substituir mes
  df[['mes','ano']] = df['ano'].str.split(' ',1,expand=True)
  df['mes'] = df['mes'].map(n_mes)

  #Split coluna categoria e add id_categoria_bd
  if arq[14:-4] != "geral":
    df[['id_categoria','categoria']] = df['categoria'].str.split('.',1,expand=True)

  if arq[14:-4] == "grupo":
    df['id_categoria_bd']  = df['id_categoria'].apply(lambda x: x+".0.00.000")
    df = df[ordem]
    grupo = pd.DataFrame(df)
  elif arq[14:-4] == "subgrupo":
    df['id_categoria_bd'] = df['id_categoria'].apply(lambda x: x[0] + "."+ x[1]+ ".00.000")
    df = df[ordem]
    subgrupo = pd.DataFrame(df)
  elif arq[14:-4] == "item":
    df['id_categoria_bd'] = df['id_categoria'].apply(lambda x: x[0] + "."+ x[1]+ "." + x[2:4]+ ".000")
    df = df[ordem]
    item = pd.DataFrame(df)
  elif arq[14:-4] == "subitem":
    df['id_categoria_bd'] = df['id_categoria'].apply(lambda x: x[0] + "."+ x[1]+ "." + x[2:4] +"."+x[4:7])
    df = df[ordem]
    subitem = pd.DataFrame(df)
  elif arq[14:-4] == "geral":
    df['id_categoria'] = ""
    df['id_categoria_bd'] = "0.0.00.000"
    df = df[ordem]
    geral = pd.DataFrame(df)

df
df = pd.concat([grupo,subgrupo,item,subitem,geral])
df.to_csv('/content/data/output/categoria_brasil.csv',index=False)
del df
del item
del subitem
del geral
del grupo
del subgrupo

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

#### RM

In [ ]:
rename = {"Cód.":"id_regiao_metropolitana",
               "Unnamed: 1":"rm",
               "Mês":"ano", 
               "Geral, grupo, subgrupo, item e subitem":"categoria",
               "IPCA - Variação mensal (%)":"variacao_mensal",
               "IPCA - Variação acumulada no ano (%)":"variacao_anual",
               "IPCA - Variação acumulada em 12 meses (%)":"variacao_doze_meses",
               "IPCA - Peso mensal (%)":"peso_mensal"
               }

ordem = ["ano","mes","id_regiao_metropolitana","id_categoria","id_categoria_bd","categoria",
         "peso_mensal","variacao_mensal","variacao_anual","variacao_doze_meses"
         ]

n_mes = {'janeiro':'1',
        'fevereiro':'2',
        'março':'3',
        'abril':'4',
        'maio':'5',
        'junho':'6',
        'julho':'7',
        'agosto':'8',
        'setembro':'9',
        'outubro':'10',
        'novembro':'11',
        'dezembro':'12'
        }

for arq in arq_rm:
  df = pd.read_csv(arq, skipfooter=14, skiprows=2, sep=';', dtype="str")
  #renomear colunas
  df.rename(columns=rename,inplace=True)
  #substituir "..." por vazio
  df  = df.replace("...","")

  #Normalizando float
  df = df.replace(',','.',regex=True)
  
  #Split coluna data e substituir mes
  df[['mes','ano']] = df['ano'].str.split(' ',1,expand=True)
  df['mes'] = df['mes'].map(n_mes)

  #Split coluna categoria e add id_categoria_bd
  if arq[14:-4] != "geral":
    df[['id_categoria','categoria']] = df['categoria'].str.split('.',1,expand=True)

  if arq[14:-4] == "grupo":
    df['id_categoria_bd']  = df['id_categoria'].apply(lambda x: x+".0.00.000")
    df = df[ordem]
    grupo = pd.DataFrame(df)
  elif arq[14:-4] == "subgrupo":
    df['id_categoria_bd'] = df['id_categoria'].apply(lambda x: x[0] + "."+ x[1]+ ".00.000")
    df = df[ordem]
    subgrupo = pd.DataFrame(df)
  elif arq[14:-4] == "item":
    df['id_categoria_bd'] = df['id_categoria'].apply(lambda x: x[0] + "."+ x[1]+ "." + x[2:4]+ ".000")
    df = df[ordem]
    item = pd.DataFrame(df)
  elif arq[14:-4] == "subitem_1":
    df['id_categoria_bd'] = df['id_categoria'].apply(lambda x: x[0] + "."+ x[1]+ "." + x[2:4] +"."+x[4:7])
    df = df[ordem]
    subitem_1 = pd.DataFrame(df)
  elif arq[14:-4] == "subitem_2":
    df['id_categoria_bd'] = df['id_categoria'].apply(lambda x: x[0] + "."+ x[1]+ "." + x[2:4] +"."+x[4:7])
    df = df[ordem]
    subitem_2 = pd.DataFrame(df)
  elif arq[14:-4] == "geral":
    df['id_categoria'] = ""
    df['id_categoria_bd'] = "0.0.00.000"
    df = df[ordem]
    geral = pd.DataFrame(df)
df
df = pd.concat([grupo,subgrupo,item,subitem_1,subitem_2,geral])
df.to_csv('/content/data/output/categoria_rm.csv',index=False)
del item
del subitem_1
del subitem_2
del geral
del grupo
del subgrupo

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

#### MUN

In [ ]:
rename = {"Cód.":"id_municipio",
               "Unnamed: 1":"municipio",
               "Mês":"ano", 
               "Geral, grupo, subgrupo, item e subitem":"categoria",
               "IPCA - Variação mensal (%)":"variacao_mensal",
               "IPCA - Variação acumulada no ano (%)":"variacao_anual",
               "IPCA - Variação acumulada em 12 meses (%)":"variacao_doze_meses",
               "IPCA - Peso mensal (%)":"peso_mensal"
               }

ordem = ["ano","mes","id_municipio","id_categoria","id_categoria_bd","categoria","peso_mensal",
         "variacao_mensal","variacao_anual","variacao_doze_meses"
         ]

n_mes = {'janeiro':'1',
        'fevereiro':'2',
        'março':'3',
        'abril':'4',
        'maio':'5',
        'junho':'6',
        'julho':'7',
        'agosto':'8',
        'setembro':'9',
        'outubro':'10',
        'novembro':'11',
        'dezembro':'12'
        }

for arq in arq_mun:
  df = pd.read_csv(arq, skipfooter=14, skiprows=2, sep=';', dtype="str")
  #renomear colunas
  df.rename(columns=rename,inplace=True)
  #substituir "..." por vazio
  df  = df.replace("...","")

  #Normalizando float
  df = df.replace(',','.',regex=True)
  
  #Split coluna data e substituir mes
  df[['mes','ano']] = df['ano'].str.split(' ',1,expand=True)
  df['mes'] = df['mes'].map(n_mes)

  #Split coluna categoria e add id_categoria_bd
  if arq[15:-4] != "geral":
    df[['id_categoria','categoria']] = df['categoria'].str.split('.',1,expand=True)

  if arq[15:-4] == "grupo":
    df['id_categoria_bd']  = df['id_categoria'].apply(lambda x: x+".0.00.000")
    df = df[ordem]
    grupo = pd.DataFrame(df)
  elif arq[15:-4] == "subgrupo":
    df['id_categoria_bd'] = df['id_categoria'].apply(lambda x: x[0] + "."+ x[1]+ ".00.000")
    df = df[ordem]
    subgrupo = pd.DataFrame(df)
  elif arq[15:-4] == "item":
    df['id_categoria_bd'] = df['id_categoria'].apply(lambda x: x[0] + "."+ x[1]+ "." + x[2:4]+ ".000")
    df = df[ordem]
    item = pd.DataFrame(df)
  elif arq[15:-4] == "subitem_1":
    df['id_categoria_bd'] = df['id_categoria'].apply(lambda x: x[0] + "."+ x[1]+ "." + x[2:4] +"."+x[4:7])
    df = df[ordem]
    subitem_1 = pd.DataFrame(df)
  elif arq[15:-4] == "subitem_2":
    df['id_categoria_bd'] = df['id_categoria'].apply(lambda x: x[0] + "."+ x[1]+ "." + x[2:4] +"."+x[4:7])
    df = df[ordem]
    subitem_2 = pd.DataFrame(df)
  elif arq[15:-4] == "geral":
    df['id_categoria'] = ""
    df['id_categoria_bd'] = "0.0.00.000"
    df = df[ordem]
    geral = pd.DataFrame(df)
df
df = pd.concat([grupo,subgrupo,item,subitem_1,subitem_2,geral])
df.to_csv('/content/data/output/categoria_municipio.csv',index=False)
del df
del item
del subitem_1
del subitem_2
del geral
del grupo
del subgrupo

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

#### MES TOTAL

In [ ]:
rename = {'IPCA - Número-índice (base: dezembro de 1993 = 100) (Número-índice)':'indice',
              'IPCA - Variação mensal (%)':'variacao_mensal',
              'IPCA - Variação acumulada em 3 meses (%)':'variacao_tres_meses',
              'IPCA - Variação acumulada em 6 meses (%)':'variacao_semestral',
              'IPCA - Variação acumulada no ano (%)':'variacao_anual',
              'IPCA - Variação acumulada em 12 meses (%)':'variacao_doze_meses'}

ordem = ['ano','mes','indice','variacao_mensal','variacao_tres_meses','variacao_semestral',
         'variacao_anual','variacao_doze_meses']

n_mes = {'janeiro':'1',
        'fevereiro':'2',
        'março':'3',
        'abril':'4',
        'maio':'5',
        'junho':'6',
        'julho':'7',
        'agosto':'8',
        'setembro':'9',
        'outubro':'10',
        'novembro':'11',
        'dezembro':'12'
        }

for arq in arq_mes:
  df = pd.read_csv(arq,skiprows=2,skipfooter=13,sep=';')
  
  df['mes'] , df['ano'] = df['Mês'].str.split(' ',1).str

  df['mes'] = df['mes'].map(n_mes)
  
  #renomear colunas
  df.rename(columns=rename_pais,inplace=True)
  df  = df.replace("...","")

  #Normalizando float
  df = df.replace(',','.',regex=True)
  
  #Renomeando colunas e ordenando
  df.rename(columns=rename, inplace=True)
  df = df[ordem]

df.to_csv('/content/data/output/mes_geral.csv',index=False)
del df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

####BQ [EM CONSTRUÇÃO]

In [ ]:
!pip install basedosdados
import basedosdados as bd



table_ids = ['categoria_brasil',
              'categoria_municipio',
              'categoria_rm']


for table_id in table_ids:

  tb = bd.Table(dataset_id='br_ibge_ipca', table_id=table_id)
  tb.create('content/data/output/{}'.format(table_id),
            if_storage_data_exists='replace',
            if_table_config_exists='replace',
            if_table_exists='replace')