In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

#### **Dados 2020**

In [ ]:
pop_masc_2020 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2020.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2020 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2020.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2020['id_municipio_6'] = pop_masc_2020['Município'].str[:6]
pop_fem_2020['id_municipio_6'] = pop_fem_2020['Município'].str[:6]

In [ ]:
pop_masc_2020.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_fem_2020.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_masc_2020.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2020.drop(['Município', 'Total'], axis=1, inplace=True)

In [3]:
rename = {'De 0 a 4 anos':'0-4 anos', 'De 5 a 9 anos':'5-9 anos', 'De 10 a 14 anos':'10-14 anos', 'De 15 a 19 anos':'15-19 anos',
          'De 20 a 24 anos':'20-24 anos', 'De 25 a 29 anos':'25-29 anos', 'De 30 a 34 anos':'30-34 anos', 'De 35 a 39 anos':'35-39 anos',
          'De 40 a 44 anos':'40-44 anos', 'De 45 a 49 anos':'45-49 anos', 'De 50 a 54 anos':'50-54 anos', 'De 55 a 59 anos':'55-59 anos',
          'De 60 a 64 anos':'60-64 anos', 'De 65 a 69 anos':'65-69 anos', 'De 70 a 74 anos':'70-74 anos', 'De 75 a 79 anos':'75-79 anos',
          'De 80 anos ou mais':'80_mais'}

In [ ]:
pop_masc_2020.rename(columns=rename, inplace=True)
pop_fem_2020.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2020 = pop_masc_2020.round(decimals=0).astype('int64')
pop_masc_2020['id_municipio_6'] = pop_masc_2020['id_municipio_6'].astype(str)
pop_fem_2020 = pop_fem_2020.round(decimals=0).astype('int64')
pop_fem_2020['id_municipio_6'] = pop_fem_2020['id_municipio_6'].astype(str)

In [4]:
value_vars = ['0-4 anos', '5-9 anos', '10-14 anos', '15-19 anos', '20-24 anos', '25-29 anos', '30-34 anos', '35-39 anos', '40-44 anos', 
              '45-49 anos', '50-54 anos', '55-59 anos', '60-64 anos', '65-69 anos', '60-64 anos', '75-79 anos', '80_mais']

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2020, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2020, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2020 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [5]:
id_municipio = pd.read_csv('/content/id_municipio.csv')

In [6]:
id_municipio['id_municipio'] = id_municipio['id_municipio'].astype(str)
id_municipio['id_municipio_6'] = id_municipio['id_municipio_6'].astype(str)

In [ ]:
pop_2020 = pd.merge(pop_2020, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [7]:
ordem = ['id_municipio', 'sexo', 'grupo_idade', 'populacao']

In [ ]:
pop_2020.drop('id_municipio_6', axis=1, inplace=True)
pop_2020.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2020 = pop_2020[ordem]

In [ ]:
pop_2020.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2020.csv', index=False)

#### **Dados 2019**

In [ ]:
pop_masc_2019 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2019.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2019 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2019.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2019['id_municipio_6'] = pop_masc_2019['Município'].str[:6]
pop_fem_2019['id_municipio_6'] = pop_fem_2019['Município'].str[:6]

In [ ]:
pop_masc_2019.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_fem_2019.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_masc_2019.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2019.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2019.rename(columns=rename, inplace=True)
pop_fem_2019.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2019 = pop_masc_2019.round(decimals=0).astype('int64')
pop_masc_2019['id_municipio_6'] = pop_masc_2019['id_municipio_6'].astype(str)
pop_fem_2019 = pop_fem_2019.round(decimals=0).astype('int64')
pop_fem_2019['id_municipio_6'] = pop_fem_2019['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2019, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2019, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2019 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2019 = pd.merge(pop_2019, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2019.drop('id_municipio_6', axis=1, inplace=True)
pop_2019.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2019 = pop_2019[ordem]

In [ ]:
pop_2019.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2019.csv', index=False)

#### **Dados 2018**

In [ ]:
pop_masc_2018 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2018.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2018 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2018.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2018['id_municipio_6'] = pop_masc_2018['Município'].str[:6]
pop_fem_2018['id_municipio_6'] = pop_fem_2018['Município'].str[:6]

In [ ]:
pop_masc_2018.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_fem_2018.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_masc_2018.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2018.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2018.rename(columns=rename, inplace=True)
pop_fem_2018.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2018 = pop_masc_2018.round(decimals=0).astype('int64')
pop_masc_2018['id_municipio_6'] = pop_masc_2018['id_municipio_6'].astype(str)
pop_fem_2018 = pop_fem_2018.round(decimals=0).astype('int64')
pop_fem_2018['id_municipio_6'] = pop_fem_2018['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2018, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2018, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2018 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2018 = pd.merge(pop_2018, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2018.drop('id_municipio_6', axis=1, inplace=True)
pop_2018.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2018 = pop_2018[ordem]

In [ ]:
pop_2018.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2018.csv', index=False)

#### **Dados 2017**

In [ ]:
pop_masc_2017 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2017.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2017 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2017.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2017['id_municipio_6'] = pop_masc_2017['Município'].str[:6]
pop_fem_2017['id_municipio_6'] = pop_fem_2017['Município'].str[:6]

In [ ]:
pop_masc_2017.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_fem_2017.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_masc_2017.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2017.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2017.rename(columns=rename, inplace=True)
pop_fem_2017.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2017 = pop_masc_2017.round(decimals=0).astype('int64')
pop_masc_2017['id_municipio_6'] = pop_masc_2017['id_municipio_6'].astype(str)
pop_fem_2017 = pop_fem_2017.round(decimals=0).astype('int64')
pop_fem_2017['id_municipio_6'] = pop_fem_2017['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2017, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2017, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2017 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2017 = pd.merge(pop_2017, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2017.drop('id_municipio_6', axis=1, inplace=True)
pop_2017.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2017 = pop_2017[ordem]

In [ ]:
pop_2017.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2017.csv', index=False)

#### **Dados 2016**

In [ ]:
pop_masc_2016 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2016.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2016 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2016.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2016['id_municipio_6'] = pop_masc_2016['Município'].str[:6]
pop_fem_2016['id_municipio_6'] = pop_fem_2016['Município'].str[:6]

In [ ]:
pop_masc_2016.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_fem_2016.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_masc_2016.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2016.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2016.rename(columns=rename, inplace=True)
pop_fem_2016.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2016 = pop_masc_2016.round(decimals=0).astype('int64')
pop_masc_2016['id_municipio_6'] = pop_masc_2016['id_municipio_6'].astype(str)
pop_fem_2016 = pop_fem_2016.round(decimals=0).astype('int64')
pop_fem_2016['id_municipio_6'] = pop_fem_2016['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2016, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2016, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2016 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2016 = pd.merge(pop_2016, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2016.drop('id_municipio_6', axis=1, inplace=True)
pop_2016.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2016 = pop_2016[ordem]

In [ ]:
pop_2016.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2016.csv', index=False)

#### **Dados 2015**

In [ ]:
pop_masc_2015 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2015.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2015 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2015.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2015['id_municipio_6'] = pop_masc_2015['Município'].str[:6]
pop_fem_2015['id_municipio_6'] = pop_fem_2015['Município'].str[:6]

In [ ]:
pop_masc_2015.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_fem_2015.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_masc_2015.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2015.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2015.rename(columns=rename, inplace=True)
pop_fem_2015.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2015 = pop_masc_2015.round(decimals=0).astype('int64')
pop_masc_2015['id_municipio_6'] = pop_masc_2015['id_municipio_6'].astype(str)
pop_fem_2015 = pop_fem_2015.round(decimals=0).astype('int64')
pop_fem_2015['id_municipio_6'] = pop_fem_2015['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2015, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2015, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2015 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2015 = pd.merge(pop_2015, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2015.drop('id_municipio_6', axis=1, inplace=True)
pop_2015.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2015 = pop_2015[ordem]

In [ ]:
pop_2015.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2015.csv', index=False)

#### **Dados 2014**

In [ ]:
pop_masc_2014 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2014.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2014 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2014.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2014['id_municipio_6'] = pop_masc_2014['Município'].str[:6]
pop_fem_2014['id_municipio_6'] = pop_fem_2014['Município'].str[:6]

In [ ]:
pop_masc_2014.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_fem_2014.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_masc_2014.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2014.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2014.rename(columns=rename, inplace=True)
pop_fem_2014.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2014 = pop_masc_2014.round(decimals=0).astype('int64')
pop_masc_2014['id_municipio_6'] = pop_masc_2014['id_municipio_6'].astype(str)
pop_fem_2014 = pop_fem_2014.round(decimals=0).astype('int64')
pop_fem_2014['id_municipio_6'] = pop_fem_2014['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2014, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2014, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2014 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2014 = pd.merge(pop_2014, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2014.drop('id_municipio_6', axis=1, inplace=True)
pop_2014.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2014 = pop_2014[ordem]

In [ ]:
pop_2014.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2014.csv', index=False)

#### **Dados 2013**

In [ ]:
pop_masc_2013 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2013.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2013 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2013.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2013['id_municipio_6'] = pop_masc_2013['Município'].str[:6]
pop_fem_2013['id_municipio_6'] = pop_fem_2013['Município'].str[:6]

In [ ]:
pop_masc_2013.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_fem_2013.drop([5570, 5571, 5572], axis=0, inplace=True)
pop_masc_2013.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2013.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2013.rename(columns=rename, inplace=True)
pop_fem_2013.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2013 = pop_masc_2013.round(decimals=0).astype('int64')
pop_masc_2013['id_municipio_6'] = pop_masc_2013['id_municipio_6'].astype(str)
pop_fem_2013 = pop_fem_2013.round(decimals=0).astype('int64')
pop_fem_2013['id_municipio_6'] = pop_fem_2013['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2013, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2013, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2013 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2013 = pd.merge(pop_2013, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2013.drop('id_municipio_6', axis=1, inplace=True)
pop_2013.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2013 = pop_2013[ordem]

In [ ]:
pop_2013.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2013.csv', index=False)

#### **Dados 2012**

In [ ]:
pop_masc_2012 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2012.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2012 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2012.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2012['id_municipio_6'] = pop_masc_2012['Município'].str[:6]
pop_fem_2012['id_municipio_6'] = pop_fem_2012['Município'].str[:6]

In [ ]:
pop_masc_2012.drop([5565, 5566, 5567], axis=0, inplace=True)
pop_fem_2012.drop([5565, 5566, 5567], axis=0, inplace=True)
pop_masc_2012.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2012.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2012.rename(columns=rename, inplace=True)
pop_fem_2012.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2012 = pop_masc_2012.round(decimals=0).astype('int64')
pop_masc_2012['id_municipio_6'] = pop_masc_2012['id_municipio_6'].astype(str)
pop_fem_2012 = pop_fem_2012.round(decimals=0).astype('int64')
pop_fem_2012['id_municipio_6'] = pop_fem_2012['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2012, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2012, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2012 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2012 = pd.merge(pop_2012, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2012.drop('id_municipio_6', axis=1, inplace=True)
pop_2012.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2012 = pop_2012[ordem]

In [ ]:
pop_2012.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2012.csv', index=False)

#### **Dados 2011**

In [ ]:
pop_masc_2011 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2011.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2011 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2011.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2011['id_municipio_6'] = pop_masc_2011['Município'].str[:6]
pop_fem_2011['id_municipio_6'] = pop_fem_2011['Município'].str[:6]

In [ ]:
pop_masc_2011.drop([5565, 5566, 5567], axis=0, inplace=True)
pop_fem_2011.drop([5565, 5566, 5567], axis=0, inplace=True)
pop_masc_2011.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2011.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2011.rename(columns=rename, inplace=True)
pop_fem_2011.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2011 = pop_masc_2011.round(decimals=0).astype('int64')
pop_masc_2011['id_municipio_6'] = pop_masc_2011['id_municipio_6'].astype(str)
pop_fem_2011 = pop_fem_2011.round(decimals=0).astype('int64')
pop_fem_2011['id_municipio_6'] = pop_fem_2011['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2011, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2011, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2011 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2011 = pd.merge(pop_2011, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2011.drop('id_municipio_6', axis=1, inplace=True)
pop_2011.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2011 = pop_2012[ordem]

In [ ]:
pop_2011.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2011.csv', index=False)

#### **Dados 2010**

In [ ]:
pop_masc_2010 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2010.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2010 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2010.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2010['id_municipio_6'] = pop_masc_2010['Município'].str[:6]
pop_fem_2010['id_municipio_6'] = pop_fem_2010['Município'].str[:6]

In [ ]:
pop_masc_2010.drop([5565, 5566, 5567], axis=0, inplace=True)
pop_fem_2010.drop([5565, 5566, 5567], axis=0, inplace=True)
pop_masc_2010.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2010.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2010.rename(columns=rename, inplace=True)
pop_fem_2010.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2010 = pop_masc_2010.round(decimals=0).astype('int64')
pop_masc_2010['id_municipio_6'] = pop_masc_2010['id_municipio_6'].astype(str)
pop_fem_2010 = pop_fem_2010.round(decimals=0).astype('int64')
pop_fem_2010['id_municipio_6'] = pop_fem_2010['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2010, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2010, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2010 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2010 = pd.merge(pop_2010, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2010.drop('id_municipio_6', axis=1, inplace=True)
pop_2010.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2010 = pop_2010[ordem]

In [ ]:
pop_2010.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2010.csv', index=False)

#### **Dados 2009**

In [ ]:
pop_masc_2009 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2009.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2009 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2009.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2009['id_municipio_6'] = pop_masc_2009['Município'].str[:6]
pop_fem_2009['id_municipio_6'] = pop_fem_2009['Município'].str[:6]

In [ ]:
pop_masc_2009.drop([5565, 5566, 5567], axis=0, inplace=True)
pop_fem_2009.drop([5565, 5566, 5567], axis=0, inplace=True)
pop_masc_2009.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2009.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2009.rename(columns=rename, inplace=True)
pop_fem_2009.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2009 = pop_masc_2009.round(decimals=0).astype('int64')
pop_masc_2009['id_municipio_6'] = pop_masc_2009['id_municipio_6'].astype(str)
pop_fem_2009 = pop_fem_2009.round(decimals=0).astype('int64')
pop_fem_2009['id_municipio_6'] = pop_fem_2009['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2009, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2009, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2009 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2009 = pd.merge(pop_2009, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2009.drop('id_municipio_6', axis=1, inplace=True)
pop_2009.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2009 = pop_2009[ordem]

In [ ]:
pop_2009.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2009.csv', index=False)

#### **Dados 2008**

In [ ]:
pop_masc_2008 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2008.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2008 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2008.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2008['id_municipio_6'] = pop_masc_2008['Município'].str[:6]
pop_fem_2008['id_municipio_6'] = pop_fem_2008['Município'].str[:6]

In [ ]:
pop_masc_2008.drop([5565, 5566, 5567], axis=0, inplace=True)
pop_fem_2008.drop([5565, 5566, 5567], axis=0, inplace=True)
pop_masc_2008.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2008.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2008.rename(columns=rename, inplace=True)
pop_fem_2008.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2008 = pop_masc_2008.round(decimals=0).astype('int64')
pop_masc_2008['id_municipio_6'] = pop_masc_2008['id_municipio_6'].astype(str)
pop_fem_2008 = pop_fem_2008.round(decimals=0).astype('int64')
pop_fem_2008['id_municipio_6'] = pop_fem_2008['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2008, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2008, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2008 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2008 = pd.merge(pop_2008, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2008.drop('id_municipio_6', axis=1, inplace=True)
pop_2008.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2008 = pop_2008[ordem]

In [ ]:
pop_2008.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2008.csv', index=False)

#### **Dados 2007**

In [ ]:
pop_masc_2007 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2007.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2007 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2007.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2007['id_municipio_6'] = pop_masc_2007['Município'].str[:6]
pop_fem_2007['id_municipio_6'] = pop_fem_2007['Município'].str[:6]

In [ ]:
pop_masc_2007.drop([5564, 5565, 5566], axis=0, inplace=True)
pop_fem_2007.drop([5564, 5565, 5566], axis=0, inplace=True)
pop_masc_2007.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2007.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2007.rename(columns=rename, inplace=True)
pop_fem_2007.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2007 = pop_masc_2007.round(decimals=0).astype('int64')
pop_masc_2007['id_municipio_6'] = pop_masc_2007['id_municipio_6'].astype(str)
pop_fem_2007 = pop_fem_2007.round(decimals=0).astype('int64')
pop_fem_2007['id_municipio_6'] = pop_fem_2007['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2007, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2007, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2007 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2007 = pd.merge(pop_2007, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2007.drop('id_municipio_6', axis=1, inplace=True)
pop_2007.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2007 = pop_2007[ordem]

In [ ]:
pop_2007.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2007.csv', index=False)

#### **Dados 2006**

In [ ]:
pop_masc_2006 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2006.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2006 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2006.csv', sep=';', encoding='latin-1', skiprows=4)

In [ ]:
pop_masc_2006['id_municipio_6'] = pop_masc_2006['Município'].str[:6]
pop_fem_2006['id_municipio_6'] = pop_fem_2006['Município'].str[:6]

In [ ]:
pop_masc_2006.drop([5564, 5565, 5566], axis=0, inplace=True)
pop_fem_2006.drop([5564, 5565, 5566], axis=0, inplace=True)
pop_masc_2006.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2006.drop(['Município', 'Total'], axis=1, inplace=True)

In [ ]:
pop_masc_2006.rename(columns=rename, inplace=True)
pop_fem_2006.rename(columns=rename, inplace=True)

In [ ]:
pop_masc_2006 = pop_masc_2006.round(decimals=0).astype('int64')
pop_masc_2006['id_municipio_6'] = pop_masc_2006['id_municipio_6'].astype(str)
pop_fem_2006 = pop_fem_2006.round(decimals=0).astype('int64')
pop_fem_2006['id_municipio_6'] = pop_fem_2006['id_municipio_6'].astype(str)

In [ ]:
pop_masc_melt = pd.melt(pop_masc_2006, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2006, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [ ]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [ ]:
pop_2006 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [ ]:
pop_2006 = pd.merge(pop_2006, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [ ]:
pop_2006.drop('id_municipio_6', axis=1, inplace=True)
pop_2006.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2006 = pop_2006[ordem]

In [ ]:
pop_2006.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2006.csv', index=False)

#### **Dados 2005**

In [62]:
pop_masc_2005 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2005.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2005 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2005.csv', sep=';', encoding='latin-1', skiprows=4)

In [63]:
pop_masc_2005['id_municipio_6'] = pop_masc_2005['Município'].str[:6]
pop_fem_2005['id_municipio_6'] = pop_fem_2005['Município'].str[:6]

In [64]:
pop_masc_2005.drop([5564, 5565, 5566], axis=0, inplace=True)
pop_fem_2005.drop([5564, 5565, 5566], axis=0, inplace=True)
pop_masc_2005.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2005.drop(['Município', 'Total'], axis=1, inplace=True)

In [65]:
pop_masc_2005.rename(columns=rename, inplace=True)
pop_fem_2005.rename(columns=rename, inplace=True)

In [66]:
pop_masc_2005 = pop_masc_2005.round(decimals=0).astype('int64')
pop_masc_2005['id_municipio_6'] = pop_masc_2005['id_municipio_6'].astype(str)
pop_fem_2005['80_mais'] = pop_fem_2005['80_mais'].replace('-', 0) #Município 510774 não possui população > 80 anos
pop_fem_2005['80_mais'] = pd.to_numeric(pop_fem_2005['80_mais'], downcast='integer')
pop_fem_2005 = pop_fem_2005.fillna(0).astype('int64')
pop_fem_2005['id_municipio_6'] = pop_fem_2005['id_municipio_6'].astype(str)

In [67]:
pop_masc_melt = pd.melt(pop_masc_2005, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2005, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [68]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [69]:
pop_2005 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [70]:
pop_2005 = pd.merge(pop_2005, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [71]:
pop_2005.drop('id_municipio_6', axis=1, inplace=True)
pop_2005.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2005 = pop_2005[ordem]

In [72]:
pop_2005.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2005.csv', index=False)

#### **Dados 2004**

In [73]:
pop_masc_2004 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2004.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2004 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2004.csv', sep=';', encoding='latin-1', skiprows=4)

In [77]:
pop_masc_2004['id_municipio_6'] = pop_masc_2004['Município'].str[:6]
pop_fem_2004['id_municipio_6'] = pop_fem_2004['Município'].str[:6]

In [79]:
pop_masc_2004.drop([5564, 5565, 5566], axis=0, inplace=True)
pop_fem_2004.drop([5564, 5565, 5566], axis=0, inplace=True)
pop_masc_2004.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2004.drop(['Município', 'Total'], axis=1, inplace=True)

In [80]:
pop_masc_2004.rename(columns=rename, inplace=True)
pop_fem_2004.rename(columns=rename, inplace=True)

In [83]:
pop_masc_2004 = pop_masc_2004.round(decimals=0).astype('int64')
pop_masc_2004['id_municipio_6'] = pop_masc_2004['id_municipio_6'].astype(str)
pop_fem_2004['80_mais'] = pop_fem_2005['80_mais'].replace('-', 0) 
pop_fem_2004['80_mais'] = pd.to_numeric(pop_fem_2005['80_mais'], downcast='integer')
pop_fem_2004 = pop_fem_2004.fillna(0).astype('int64')
pop_fem_2004['id_municipio_6'] = pop_fem_2004['id_municipio_6'].astype(str)

In [84]:
pop_masc_melt = pd.melt(pop_masc_2004, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2004, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [85]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [86]:
pop_2004 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [87]:
pop_2004 = pd.merge(pop_2004, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [88]:
pop_2004.drop('id_municipio_6', axis=1, inplace=True)
pop_2004.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2004 = pop_2004[ordem]

In [90]:
pop_2004.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2004.csv', index=False)

#### **Dados 2003**

In [91]:
pop_masc_2003 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2003.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2003 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2003.csv', sep=';', encoding='latin-1', skiprows=4)

In [92]:
pop_masc_2003['id_municipio_6'] = pop_masc_2003['Município'].str[:6]
pop_fem_2003['id_municipio_6'] = pop_fem_2003['Município'].str[:6]

In [98]:
pop_masc_2003.drop([5560, 5561, 5562], axis=0, inplace=True)
pop_fem_2003.drop([5560, 5561, 5562], axis=0, inplace=True)
pop_masc_2003.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2003.drop(['Município', 'Total'], axis=1, inplace=True)

In [99]:
pop_masc_2003.rename(columns=rename, inplace=True)
pop_fem_2003.rename(columns=rename, inplace=True)

In [102]:
pop_masc_2003 = pop_masc_2003.round(decimals=0).astype('int64')
pop_masc_2003['id_municipio_6'] = pop_masc_2003['id_municipio_6'].astype(str)
pop_fem_2003['80_mais'] = pop_fem_2003['80_mais'].replace('-', 0) 
pop_fem_2003['80_mais'] = pd.to_numeric(pop_fem_2003['80_mais'], downcast='integer')
pop_fem_2003 = pop_fem_2003.fillna(0).astype('int64')
pop_fem_2003['id_municipio_6'] = pop_fem_2003['id_municipio_6'].astype(str)

In [103]:
pop_masc_melt = pd.melt(pop_masc_2003, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2003, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [104]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [105]:
pop_2003 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [106]:
pop_2003 = pd.merge(pop_2003, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [107]:
pop_2003.drop('id_municipio_6', axis=1, inplace=True)
pop_2003.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2003 = pop_2003[ordem]

In [108]:
pop_2003.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2003.csv', index=False)

#### **Dados 2002**

In [109]:
pop_masc_2002 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2004.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2002 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2004.csv', sep=';', encoding='latin-1', skiprows=4)

In [112]:
pop_masc_2002['id_municipio_6'] = pop_masc_2002['Município'].str[:6]
pop_fem_2002['id_municipio_6'] = pop_fem_2002['Município'].str[:6]

In [113]:
pop_masc_2002.drop([5564, 5565, 5566], axis=0, inplace=True)
pop_fem_2002.drop([5564, 5565, 5566], axis=0, inplace=True)
pop_masc_2002.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2002.drop(['Município', 'Total'], axis=1, inplace=True)

In [114]:
pop_masc_2002.rename(columns=rename, inplace=True)
pop_fem_2002.rename(columns=rename, inplace=True)

In [115]:
pop_masc_2002 = pop_masc_2002.round(decimals=0).astype('int64')
pop_masc_2002['id_municipio_6'] = pop_masc_2002['id_municipio_6'].astype(str)
pop_fem_2002['80_mais'] = pop_fem_2002['80_mais'].replace('-', 0) 
pop_fem_2002['80_mais'] = pd.to_numeric(pop_fem_2002['80_mais'], downcast='integer')
pop_fem_2002 = pop_fem_2002.fillna(0).astype('int64')
pop_fem_2002['id_municipio_6'] = pop_fem_2002['id_municipio_6'].astype(str)

In [116]:
pop_masc_melt = pd.melt(pop_masc_2002, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2002, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [117]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [118]:
pop_2002 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [119]:
pop_2002 = pd.merge(pop_2002, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [120]:
pop_2002.drop('id_municipio_6', axis=1, inplace=True)
pop_2002.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2002 = pop_2002[ordem]

In [121]:
pop_2002.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2002.csv', index=False)

#### **Dados 2001**

In [123]:
pop_masc_2001 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2001.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2001 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2001.csv', sep=';', encoding='latin-1', skiprows=4)

In [127]:
pop_masc_2001['id_municipio_6'] = pop_masc_2001['Município'].str[:6]
pop_fem_2001['id_municipio_6'] = pop_fem_2001['Município'].str[:6]

In [128]:
pop_masc_2001.drop([5560, 5561, 5562], axis=0, inplace=True)
pop_fem_2001.drop([5560, 5561, 5562], axis=0, inplace=True)
pop_masc_2001.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2001.drop(['Município', 'Total'], axis=1, inplace=True)

In [129]:
pop_masc_2001.rename(columns=rename, inplace=True)
pop_fem_2001.rename(columns=rename, inplace=True)

In [139]:
pop_masc_2001['80_mais'] = pop_masc_2001['80_mais'].replace('-', 0) 
pop_masc_2001['80_mais'] = pd.to_numeric(pop_masc_2001['80_mais'], downcast='integer')
pop_masc_2001 = pop_masc_2001.fillna(0).astype('int64')
pop_masc_2001['id_municipio_6'] = pop_masc_2001['id_municipio_6'].astype(str)
pop_fem_2001 = pop_fem_2001.replace('-', 0) 
pop_fem_2001['80_mais'] = pd.to_numeric(pop_fem_2001['80_mais'], downcast='integer')
pop_fem_2001 = pop_fem_2001.fillna(0).astype('int64')
pop_fem_2001['id_municipio_6'] = pop_fem_2001['id_municipio_6'].astype(str)

In [141]:
pop_masc_melt = pd.melt(pop_masc_2001, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2001, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [142]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [143]:
pop_2001 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [144]:
pop_2001 = pd.merge(pop_2001, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [145]:
pop_2001.drop('id_municipio_6', axis=1, inplace=True)
pop_2001.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2001 = pop_2001[ordem]

In [146]:
pop_2001.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2001.csv', index=False)

#### **Dados 2000**

In [147]:
pop_masc_2000 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_masculina_2000.csv', sep=';', encoding='latin-1', skiprows=4)
pop_fem_2000 = pd.read_csv('/content/drive/MyDrive/br_ms_populacao/input/br_ms_populacao_feminina_2000.csv', sep=';', encoding='latin-1', skiprows=4)

In [150]:
pop_masc_2000['id_municipio_6'] = pop_masc_2000['Município'].str[:6]
pop_fem_2000['id_municipio_6'] = pop_fem_2000['Município'].str[:6]

In [151]:
pop_masc_2000.drop([5507, 5508, 5509], axis=0, inplace=True)
pop_fem_2000.drop([5507, 5508, 5509], axis=0, inplace=True)
pop_masc_2000.drop(['Município', 'Total'], axis=1, inplace=True)
pop_fem_2000.drop(['Município', 'Total'], axis=1, inplace=True)

In [152]:
pop_masc_2000.rename(columns=rename, inplace=True)
pop_fem_2000.rename(columns=rename, inplace=True)

In [153]:
pop_masc_2000 = pop_masc_2000.round(decimals=0).astype('int64')
pop_masc_2000['id_municipio_6'] = pop_masc_2000['id_municipio_6'].astype(str)
pop_fem_2000 = pop_fem_2000.replace('-', 0)
pop_fem_2000 = pop_fem_2000.fillna(0).astype('int64')
pop_fem_2000['id_municipio_6'] = pop_fem_2000['id_municipio_6'].astype(str)

In [154]:
pop_masc_melt = pd.melt(pop_masc_2000, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')
pop_fem_melt = pd.melt(pop_fem_2000, id_vars='id_municipio_6', value_vars=value_vars, var_name='grupo_idade', value_name='populacao')

In [155]:
pop_masc_melt['sexo'] = 'masculino'
pop_fem_melt['sexo'] = 'feminino'

In [156]:
pop_2000 = pop_masc_melt.append(pop_fem_melt, ignore_index=True)

In [157]:
pop_2000 = pd.merge(pop_2000, id_municipio,
                    how='left', left_on=['id_municipio_6'],
                    right_on=['id_municipio_6'])

In [158]:
pop_2000.drop('id_municipio_6', axis=1, inplace=True)
pop_2000.sort_values(['id_municipio', 'grupo_idade', 'sexo'], inplace=True)
pop_2000 = pop_2000[ordem]

In [159]:
pop_2000.to_csv('/content/drive/MyDrive/br_ms_populacao/output/br_ms_populacao_2000.csv', index=False)