In [ ]:
#biblioteca
pip install geobr

SyntaxError: ignored

In [ ]:
import geobr
import pandas as pd
import numpy as np

In [ ]:
state = geobr.read_state(code_state="SE", year=2018) #teste

/usr/local/lib/python3.7/dist-packages/geopandas/array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out

In [ ]:
state #teste

,code_state,abbrev_state,name_state,code_region,name_region,geometry
0,28.0,SE,Sergipe,2.0,Nordeste,"MULTIPOLYGON (((-37.98248 -11.34818, -37.98822..."

In [ ]:
escolas = geobr.read_schools(year=2020) #teste

/usr/local/lib/python3.7/dist-packages/geopandas/geodataframe.py:34: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  out = from_shapely(data)

In [ ]:
mun = geobr.read_municipality()

/usr/local/lib/python3.7/dist-packages/geopandas/array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out

In [ ]:
mun['code_muni'] = mun['code_muni'].astype(np.int64)

In [ ]:
mun

,code_muni,name_muni,code_state,abbrev_state,geometry
0,1100015,Alta Floresta D'oeste,11.0,RO,"MULTIPOLYGON (((-62.24620 -11.90149, -62.24151..."
1,1100023,Ariquemes,11.0,RO,"MULTIPOLYGON (((-63.13712 -9.78413, -63.09013 ..."
2,1100031,Cabixi,11.0,RO,"MULTIPOLYGON (((-60.52408 -13.32137, -60.37161..."
3,1100049,Cacoal,11.0,RO,"MULTIPOLYGON (((-61.42679 -11.11376, -61.42900..."
4,1100056,Cerejeiras,11.0,RO,"MULTIPOLYGON (((-61.41347 -13.23417, -61.42603..."
...,...,...,...,...,...
5562,5222005,Vianópolis,52.0,GO,"POLYGON ((-48.54164 -16.74126, -48.53274 -16.7..."
5563,5222054,Vicentinópolis,52.0,GO,"POLYGON ((-49.90713 -17.61460, -49.90588 -17.6..."
5564,5222203,Vila Boa,52.0,GO,"POLYGON ((-46.97635 -14.93112, -46.94801 -15.0..."
5565,5222302,Vila Propício,52.0,GO,"POLYGON ((-48.86700 -15.09735, -48.86191 -15.0..."
5566,5300108,Brasília,53.0,DF,"MULTIPOLYGON (((-48.21763 -15.76267, -48.21321..."

In [ ]:
#Alterando nomes das colunas pra estilo da BD
mun=mun.rename({'code_muni':'id_municipio', 'code_state':'id_uf', 'abbrev_state':'sigla_uf','geometry':'geometria'},axis='columns')

In [ ]:
#selecionar variáveis de interesse
mun=mun.filter(items=['id_municipio', 'sigla_uf', 'geometria'])

In [ ]:
from posixpath import sep
#salvando em csv
mun.to_csv('municipio.csv', sep=',', index=False, header=True)

In [ ]:
mun

      id_municipio sigla_uf                                          geometria
0          1100015       RO  MULTIPOLYGON (((-62.24620 -11.90149, -62.24151...
1          1100023       RO  MULTIPOLYGON (((-63.13712 -9.78413, -63.09013 ...
2          1100031       RO  MULTIPOLYGON (((-60.52408 -13.32137, -60.37161...
3          1100049       RO  MULTIPOLYGON (((-61.42679 -11.11376, -61.42900...
4          1100056       RO  MULTIPOLYGON (((-61.41347 -13.23417, -61.42603...
...            ...      ...                                                ...
5562       5222005       GO  POLYGON ((-48.54164 -16.74126, -48.53274 -16.7...
5563       5222054       GO  POLYGON ((-49.90713 -17.61460, -49.90588 -17.6...
5564       5222203       GO  POLYGON ((-46.97635 -14.93112, -46.94801 -15.0...
5565       5222302       GO  POLYGON ((-48.86700 -15.09735, -48.86191 -15.0...
5566       5300108       DF  MULTIPOLYGON (((-48.21763 -15.76267, -48.21321...

[5567 rows x 3 columns]