In [ ]:
pip install geobr

In [2]:
import geobr
import pandas as pd
import numpy as np

In [3]:
saude = geobr.read_health_region(year=2013)

/usr/local/lib/python3.7/dist-packages/geopandas/array.py:93: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out

In [4]:
saude

,code_health_region,name_health_region,code_state,abbrev_state,name_state,geometry
0,11001,Vale do Jamari,11.0,RO,Rondônia,"POLYGON ((-62.42318 -9.80583, -62.44172 -9.818..."
1,11002,Café,11.0,RO,Rondônia,"POLYGON ((-61.00060 -10.99224, -61.00060 -10.9..."
2,11003,Central,11.0,RO,Rondônia,"POLYGON ((-62.67078 -10.28778, -62.66994 -10.2..."
3,11004,Madeira-Mamoré,11.0,RO,Rondônia,"POLYGON ((-64.20502 -11.91591, -64.21394 -11.9..."
4,11005,Zona da Mata,11.0,RO,Rondônia,"POLYGON ((-62.41771 -13.11894, -62.43446 -13.1..."
...,...,...,...,...,...,...
433,52015,Sudoeste I,52.0,GO,Goiás,"POLYGON ((-50.24530 -17.27121, -50.24187 -17.2..."
434,52016,Sudoeste II,52.0,GO,Goiás,"POLYGON ((-51.69322 -19.11822, -51.70620 -19.1..."
435,52017,Sul,52.0,GO,Goiás,"POLYGON ((-48.76536 -17.93458, -48.76237 -17.9..."
436,52018,São Patrício II,52.0,GO,Goiás,"POLYGON ((-48.75744 -14.86168, -48.74119 -14.8..."
437,53001,Distrito Federal,53.0,DF,Distrito Federal,"POLYGON ((-47.31001 -16.03627, -47.30839 -16.0..."

In [7]:
saude['code_state'] = saude['code_state'].astype(np.int64)
saude['code_health_region'] = saude['code_health_region'].astype(np.int64)

,code_health_region,name_health_region,code_state,abbrev_state,name_state,geometry
0,11001,Vale do Jamari,11,RO,Rondônia,"POLYGON ((-62.42318 -9.80583, -62.44172 -9.818..."
1,11002,Café,11,RO,Rondônia,"POLYGON ((-61.00060 -10.99224, -61.00060 -10.9..."
2,11003,Central,11,RO,Rondônia,"POLYGON ((-62.67078 -10.28778, -62.66994 -10.2..."
3,11004,Madeira-Mamoré,11,RO,Rondônia,"POLYGON ((-64.20502 -11.91591, -64.21394 -11.9..."
4,11005,Zona da Mata,11,RO,Rondônia,"POLYGON ((-62.41771 -13.11894, -62.43446 -13.1..."
...,...,...,...,...,...,...
433,52015,Sudoeste I,52,GO,Goiás,"POLYGON ((-50.24530 -17.27121, -50.24187 -17.2..."
434,52016,Sudoeste II,52,GO,Goiás,"POLYGON ((-51.69322 -19.11822, -51.70620 -19.1..."
435,52017,Sul,52,GO,Goiás,"POLYGON ((-48.76536 -17.93458, -48.76237 -17.9..."
436,52018,São Patrício II,52,GO,Goiás,"POLYGON ((-48.75744 -14.86168, -48.74119 -14.8..."
437,53001,Distrito Federal,53,DF,Distrito Federal,"POLYGON ((-47.31001 -16.03627, -47.30839 -16.0..."

In [8]:
saude=saude.rename({'code_health_region':'id_regiao_saude', 'name_health_region':'nome_regiao_saude', 'code_state':'id_uf','geometry':'geometria', 'abbrev_state':'sigla_uf'}, axis='columns')
saude

,id_regiao_saude,nome_regiao_saude,id_uf,sigla_uf,name_state,geometria
0,11001,Vale do Jamari,11,RO,Rondônia,"POLYGON ((-62.42318 -9.80583, -62.44172 -9.818..."
1,11002,Café,11,RO,Rondônia,"POLYGON ((-61.00060 -10.99224, -61.00060 -10.9..."
2,11003,Central,11,RO,Rondônia,"POLYGON ((-62.67078 -10.28778, -62.66994 -10.2..."
3,11004,Madeira-Mamoré,11,RO,Rondônia,"POLYGON ((-64.20502 -11.91591, -64.21394 -11.9..."
4,11005,Zona da Mata,11,RO,Rondônia,"POLYGON ((-62.41771 -13.11894, -62.43446 -13.1..."
...,...,...,...,...,...,...
433,52015,Sudoeste I,52,GO,Goiás,"POLYGON ((-50.24530 -17.27121, -50.24187 -17.2..."
434,52016,Sudoeste II,52,GO,Goiás,"POLYGON ((-51.69322 -19.11822, -51.70620 -19.1..."
435,52017,Sul,52,GO,Goiás,"POLYGON ((-48.76536 -17.93458, -48.76237 -17.9..."
436,52018,São Patrício II,52,GO,Goiás,"POLYGON ((-48.75744 -14.86168, -48.74119 -14.8..."
437,53001,Distrito Federal,53,DF,Distrito Federal,"POLYGON ((-47.31001 -16.03627, -47.30839 -16.0..."

In [9]:
saude = saude.filter(items=['id_regiao_saude', 'id_uf', 'sigla_uf','geometria'])

In [10]:
saude

,id_regiao_saude,id_uf,sigla_uf,geometria
0,11001,11,RO,"POLYGON ((-62.42318 -9.80583, -62.44172 -9.818..."
1,11002,11,RO,"POLYGON ((-61.00060 -10.99224, -61.00060 -10.9..."
2,11003,11,RO,"POLYGON ((-62.67078 -10.28778, -62.66994 -10.2..."
3,11004,11,RO,"POLYGON ((-64.20502 -11.91591, -64.21394 -11.9..."
4,11005,11,RO,"POLYGON ((-62.41771 -13.11894, -62.43446 -13.1..."
...,...,...,...,...
433,52015,52,GO,"POLYGON ((-50.24530 -17.27121, -50.24187 -17.2..."
434,52016,52,GO,"POLYGON ((-51.69322 -19.11822, -51.70620 -19.1..."
435,52017,52,GO,"POLYGON ((-48.76536 -17.93458, -48.76237 -17.9..."
436,52018,52,GO,"POLYGON ((-48.75744 -14.86168, -48.74119 -14.8..."
437,53001,53,DF,"POLYGON ((-47.31001 -16.03627, -47.30839 -16.0..."

In [11]:
saude.to_csv('saude.csv', sep=',', index=False, header='True')