### Carregando os pacotes necessários

In [1]:
import os
import time
import datetime
import pandas as pd

### Carregando os arquivos coletados

In [2]:
path = os.path.abspath(os.path.join('..', 'input'))
path_data_match = os.path.join(path, 'coleta_dados_matches.csv')

In [3]:
path = os.path.abspath(os.path.join('..', 'input'))
path_staging_world = os.path.join(path, 'staging_world.csv')

In [4]:
df_dados = pd.read_csv(path_data_match)

In [5]:
df_staging = pd.read_csv(path_staging_world)

In [6]:
df_staging

   code_iso         name_women           name_men team_code
0       ARG          Argentina          Argentina       ARG
1       AUS          Australia          Australia       AUS
2       BRA             Brazil             Brazil       BRA
3       CAN             Canada             Canada       CAN
4       CHE        Switzerland        Switzerland       CHE
5       CHL              Chile              Chile       CHL
6       CHN           China PR              China       CHN
7       CIV      Côte d'Ivoire        Ivory Coast       CIV
8       CMR           Cameroon           Cameroon       CMR
9       COL           Colombia           Colombia       COL
10      CRI         Costa Rica         Costa Rica       CRI
11      DEU            Germany            Germany       DEU
12      DNK            Denmark            Denmark       DNK
13      ECU            Ecuador            Ecuador       ECU
14      ESP              Spain              Spain       ESP
15      FRA             France             France       FRA
16      GBR            England            England       ENG
17      GBR           Scotland           Scotland       SCO
18      GHA              Ghana              Ghana       GHA
19      GNQ  Equatorial Guinea  Equatorial Guinea       GNQ
20      ITA              Italy              Italy       ITA
21      JAM            Jamaica            Jamaica       JAM
22      JPN              Japan              Japan       JPN
23      KOR     Korea Republic        South Korea       KOR
24      MEX             Mexico             Mexico       MEX
25      NGA            Nigeria            Nigeria       NGA
26      NLD        Netherlands        Netherlands       NLD
27      NOR             Norway             Norway       NOR
28      NZL        New Zealand        New Zealand       NZL
29      PRK          Korea DPR        North Korea       PRK
30      SWE             Sweden             Sweden       SWE
31      THA           Thailand           Thailand       THA
32      TWN     Chinese Taipei     Chinese Taipei       TWN
33      USA                USA      United States       USA
34      ZAF       South Africa       South Africa       ZAF
35      NaN             Russia             Russia       RUS

In [7]:
df_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    284 non-null    int64
 1   tournament_id           284 non-null    int64
 2   match_id                284 non-null    int64
 3   stage_name              284 non-null    object
 4   group_name              284 non-null    object
 5   match_date              284 non-null    object
 6   match_time              284 non-null    object
 7   stadium_name            284 non-null    object
 8   country_name            284 non-null    object
 9   knockout_stage          284 non-null    object
 10  team_a_name             284 non-null    object
 11  team_b_name             284 non-null    object
 12  score                   284 non-null    object
 13  team_a_score            284 non-null    int64
 14  team_b_score            284 non-null    int64
 15  extra_time              6 non-null      object
 16  penalty_shootout        8 non-null      object
 17  score_penalties         8 non-null      object
 18  team_a_score_penalties  8 non-null      float64
 19  team_b_score_penalties  8 non-null      float64
dtypes: float64(2), int64(5), object(13)
memory usage: 44.5+ KB

### Transformando algumas variáveis

In [8]:
df_dados[["team_a_score_penalties", "team_b_score_penalties"]] = df_dados[["team_a_score_penalties","team_b_score_penalties"]].fillna(0)
df_dados["match_id"] = df_dados["match_id"].astype(str)
df_dados[["year","team_a_score", "team_b_score","team_a_score_penalties", "team_b_score_penalties"]] = df_dados[["year","team_a_score", "team_b_score","team_a_score_penalties", "team_b_score_penalties"]].astype(int)
df_dados["team_a_score_margin"] = df_dados["team_a_score"] - df_dados["team_b_score"]
df_dados["team_b_score_margin"] = df_dados["team_b_score"] - df_dados["team_a_score"]

### Achando resultados

In [9]:
def label(data):
    if data["team_a_score"] < data["team_b_score"]: 
        return "team_b_win"
    elif data["team_b_score"] < data["team_a_score"]:
        return "team_a_win" 
    elif data["team_a_score_penalties"] < data["team_b_score_penalties"]:
        return "team_b_win"
    elif data["team_b_score_penalties"] < data["team_a_score_penalties"]:
        return "team_a_win"
    elif data["team_b_score"] == data["team_a_score"]:
        return "draw"

In [10]:
df_dados["win"] = df_dados.apply(lambda df_dados:label(df_dados),axis=1)
df_dados

,year,tournament_id,match_id,stage_name,group_name,match_date,match_time,stadium_name,country_name,knockout_stage,...,team_a_score,team_b_score,extra_time,penalty_shootout,score_penalties,team_a_score_penalties,team_b_score_penalties,team_a_score_margin,team_b_score_margin,win
0,1991,1991,1,Groups,Group A,16. Nov,20:45,Tianhe Stadium,China PR,Groups,...,4,0,NaN,NaN,NaN,0,0,4,-4,team_a_win
1,1991,1991,6,Groups,Group C,17. Nov,15:30,Jiangmen Stadium,China PR,Groups,...,4,0,NaN,NaN,NaN,0,0,4,-4,team_a_win
2,1991,1991,2,Groups,Group A,17. Nov,19:45,Tianhe Stadium,China PR,Groups,...,3,0,NaN,NaN,NaN,0,0,3,-3,team_a_win
3,1991,1991,3,Groups,Group B,17. Nov,19:45,New Plaza Stadium,China PR,Groups,...,0,1,NaN,NaN,NaN,0,0,-1,1,team_b_win
4,1991,1991,4,Groups,Group B,17. Nov,19:45,Ying Dong Stadium,China PR,Groups,...,2,3,NaN,NaN,NaN,0,0,-1,1,team_b_win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2019,2019,48,Quarter-final,Not applicable,29. Jun,18:30,Roazhon Park,France,Knockouts,...,1,2,NaN,NaN,NaN,0,0,-1,1,team_b_win
280,2019,2019,49,Semi-final,Not applicable,02. Jul,21:00,Stade de Lyon,France,Knockouts,...,1,2,NaN,NaN,NaN,0,0,-1,1,team_b_win
281,2019,2019,50,Semi-final,Not applicable,03. Jul,21:00,Stade de Lyon,France,Knockouts,...,1,0,after,NaN,NaN,0,0,1,-1,team_a_win
282,2019,2019,51,Match for third place,Not applicable,06. Jul,17:00,Stade de Nice,France,Knockouts,...,1,2,NaN,NaN,NaN,0,0,-1,1,team_b_win
283,2019,2019,52,Final,Not applicable,07. Jul,17:00,Stade de Lyon,France,Knockouts,...,2,0,NaN,NaN,NaN,0,0,2,-2,team_a_win

### Criando as dummys

In [11]:
df_dummy = pd.get_dummies(df_dados, columns=["win"])
df_dummy_1 = pd.get_dummies(df_dummy, columns = ['penalty_shootout'])
df_dummy_2 = pd.get_dummies(df_dummy_1, columns=["knockout_stage"])
df_dummy_2.drop('knockout_stage_Groups', axis = 1, inplace = True)
df_dummy_3 = pd.get_dummies(df_dummy_2, columns = ['extra_time'])

df_dummy_3

,year,tournament_id,match_id,stage_name,group_name,match_date,match_time,stadium_name,country_name,team_a_name,...,team_a_score_penalties,team_b_score_penalties,team_a_score_margin,team_b_score_margin,win_draw,win_team_a_win,win_team_b_win,penalty_shootout_ pen,knockout_stage_Knockouts,extra_time_ after
0,1991,1991,1,Groups,Group A,16. Nov,20:45,Tianhe Stadium,China PR,China PR,...,0,0,4,-4,0,1,0,0,0,0
1,1991,1991,6,Groups,Group C,17. Nov,15:30,Jiangmen Stadium,China PR,Germany,...,0,0,4,-4,0,1,0,0,0,0
2,1991,1991,2,Groups,Group A,17. Nov,19:45,Tianhe Stadium,China PR,Denmark,...,0,0,3,-3,0,1,0,0,0,0
3,1991,1991,3,Groups,Group B,17. Nov,19:45,New Plaza Stadium,China PR,Japan,...,0,0,-1,1,0,0,1,0,0,0
4,1991,1991,4,Groups,Group B,17. Nov,19:45,Ying Dong Stadium,China PR,Sweden,...,0,0,-1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2019,2019,48,Quarter-final,Not applicable,29. Jun,18:30,Roazhon Park,France,Germany,...,0,0,-1,1,0,0,1,0,1,0
280,2019,2019,49,Semi-final,Not applicable,02. Jul,21:00,Stade de Lyon,France,England,...,0,0,-1,1,0,0,1,0,1,0
281,2019,2019,50,Semi-final,Not applicable,03. Jul,21:00,Stade de Lyon,France,Netherlands,...,0,0,1,-1,0,1,0,0,1,1
282,2019,2019,51,Match for third place,Not applicable,06. Jul,17:00,Stade de Nice,France,England,...,0,0,-1,1,0,0,1,0,1,0
283,2019,2019,52,Final,Not applicable,07. Jul,17:00,Stade de Lyon,France,USA,...,0,0,2,-2,0,1,0,0,1,0

### Data e tempo

In [12]:
df_dummy_3["tournament_id"] = df_dummy_3["tournament_id"].astype(str)

In [13]:
df_dummy_3["match_date"] = df_dummy_3["match_date"] + df_dummy_3['tournament_id']
df_dummy_3["match_date"] = df_dummy_3["match_date"].str.replace(r'.','', regex = True )
df_dummy_3["match_date"]= pd.to_datetime(df_dummy_3["match_date"])
df_dummy_3

,year,tournament_id,match_id,stage_name,group_name,match_date,match_time,stadium_name,country_name,team_a_name,...,team_a_score_penalties,team_b_score_penalties,team_a_score_margin,team_b_score_margin,win_draw,win_team_a_win,win_team_b_win,penalty_shootout_ pen,knockout_stage_Knockouts,extra_time_ after
0,1991,1991,1,Groups,Group A,1991-11-16,20:45,Tianhe Stadium,China PR,China PR,...,0,0,4,-4,0,1,0,0,0,0
1,1991,1991,6,Groups,Group C,1991-11-17,15:30,Jiangmen Stadium,China PR,Germany,...,0,0,4,-4,0,1,0,0,0,0
2,1991,1991,2,Groups,Group A,1991-11-17,19:45,Tianhe Stadium,China PR,Denmark,...,0,0,3,-3,0,1,0,0,0,0
3,1991,1991,3,Groups,Group B,1991-11-17,19:45,New Plaza Stadium,China PR,Japan,...,0,0,-1,1,0,0,1,0,0,0
4,1991,1991,4,Groups,Group B,1991-11-17,19:45,Ying Dong Stadium,China PR,Sweden,...,0,0,-1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2019,2019,48,Quarter-final,Not applicable,2019-06-29,18:30,Roazhon Park,France,Germany,...,0,0,-1,1,0,0,1,0,1,0
280,2019,2019,49,Semi-final,Not applicable,2019-07-02,21:00,Stade de Lyon,France,England,...,0,0,-1,1,0,0,1,0,1,0
281,2019,2019,50,Semi-final,Not applicable,2019-07-03,21:00,Stade de Lyon,France,Netherlands,...,0,0,1,-1,0,1,0,0,1,1
282,2019,2019,51,Match for third place,Not applicable,2019-07-06,17:00,Stade de Nice,France,England,...,0,0,-1,1,0,0,1,0,1,0
283,2019,2019,52,Final,Not applicable,2019-07-07,17:00,Stade de Lyon,France,USA,...,0,0,2,-2,0,1,0,0,1,0

In [25]:
df_dummy_3["match_time"]= pd.to_datetime(df_dummy_3["match_time"])
df_dummy_3["match_time"] = df_dummy_3["match_time"].dt.time
df_dummy_3

,year,tournament_id,match_id,stage_name,group_name,match_date,match_time,stadium_name,country_name,team_a_name,...,team_a_score_penalties,team_b_score_penalties,team_a_score_margin,team_b_score_margin,win_draw,win_team_a_win,win_team_b_win,penalty_shootout_ pen,knockout_stage_Knockouts,extra_time_ after
0,1991,1991,1,Groups,Group A,1991-11-16,20:45:00,Tianhe Stadium,China PR,China PR,...,0,0,4,-4,0,1,0,0,0,0
1,1991,1991,6,Groups,Group C,1991-11-17,15:30:00,Jiangmen Stadium,China PR,Germany,...,0,0,4,-4,0,1,0,0,0,0
2,1991,1991,2,Groups,Group A,1991-11-17,19:45:00,Tianhe Stadium,China PR,Denmark,...,0,0,3,-3,0,1,0,0,0,0
3,1991,1991,3,Groups,Group B,1991-11-17,19:45:00,New Plaza Stadium,China PR,Japan,...,0,0,-1,1,0,0,1,0,0,0
4,1991,1991,4,Groups,Group B,1991-11-17,19:45:00,Ying Dong Stadium,China PR,Sweden,...,0,0,-1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2019,2019,48,Quarter-final,Not applicable,2019-06-29,18:30:00,Roazhon Park,France,Germany,...,0,0,-1,1,0,0,1,0,1,0
280,2019,2019,49,Semi-final,Not applicable,2019-07-02,21:00:00,Stade de Lyon,France,England,...,0,0,-1,1,0,0,1,0,1,0
281,2019,2019,50,Semi-final,Not applicable,2019-07-03,21:00:00,Stade de Lyon,France,Netherlands,...,0,0,1,-1,0,1,0,0,1,1
282,2019,2019,51,Match for third place,Not applicable,2019-07-06,17:00:00,Stade de Nice,France,England,...,0,0,-1,1,0,0,1,0,1,0
283,2019,2019,52,Final,Not applicable,2019-07-07,17:00:00,Stade de Lyon,France,USA,...,0,0,2,-2,0,1,0,0,1,0

### padronização

In [14]:
df_dummy_3["match_id"] = "M-" + df_dummy_3["tournament_id"]+"-"+df_dummy_3["match_id"]
df_dummy_3["tournament_id"] = "WC-" + df_dummy_3["tournament_id"]
df_dummy_3

,year,tournament_id,match_id,stage_name,group_name,match_date,match_time,stadium_name,country_name,team_a_name,...,team_a_score_penalties,team_b_score_penalties,team_a_score_margin,team_b_score_margin,win_draw,win_team_a_win,win_team_b_win,penalty_shootout_ pen,knockout_stage_Knockouts,extra_time_ after
0,1991,WC-1991,M-1991-1,Groups,Group A,1991-11-16,20:45,Tianhe Stadium,China PR,China PR,...,0,0,4,-4,0,1,0,0,0,0
1,1991,WC-1991,M-1991-6,Groups,Group C,1991-11-17,15:30,Jiangmen Stadium,China PR,Germany,...,0,0,4,-4,0,1,0,0,0,0
2,1991,WC-1991,M-1991-2,Groups,Group A,1991-11-17,19:45,Tianhe Stadium,China PR,Denmark,...,0,0,3,-3,0,1,0,0,0,0
3,1991,WC-1991,M-1991-3,Groups,Group B,1991-11-17,19:45,New Plaza Stadium,China PR,Japan,...,0,0,-1,1,0,0,1,0,0,0
4,1991,WC-1991,M-1991-4,Groups,Group B,1991-11-17,19:45,Ying Dong Stadium,China PR,Sweden,...,0,0,-1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2019,WC-2019,M-2019-48,Quarter-final,Not applicable,2019-06-29,18:30,Roazhon Park,France,Germany,...,0,0,-1,1,0,0,1,0,1,0
280,2019,WC-2019,M-2019-49,Semi-final,Not applicable,2019-07-02,21:00,Stade de Lyon,France,England,...,0,0,-1,1,0,0,1,0,1,0
281,2019,WC-2019,M-2019-50,Semi-final,Not applicable,2019-07-03,21:00,Stade de Lyon,France,Netherlands,...,0,0,1,-1,0,1,0,0,1,1
282,2019,WC-2019,M-2019-51,Match for third place,Not applicable,2019-07-06,17:00,Stade de Nice,France,England,...,0,0,-1,1,0,0,1,0,1,0
283,2019,WC-2019,M-2019-52,Final,Not applicable,2019-07-07,17:00,Stade de Lyon,France,USA,...,0,0,2,-2,0,1,0,0,1,0

### Merge com o code ISO-3

In [15]:
import basedosdados as bd

In [16]:
query = """

SELECT sigla_pais_iso3, nome_ingles
FROM `basedosdados.br_bd_diretorios_mundo.pais`

"""
df_sigla = bd.read_sql(query, billing_project_id = 'dados-bd-359914')

Downloading: 100%|████████████████████████████████████████████████████████████████| 249/249 [00:00<00:00, 445.35rows/s]

In [17]:
df_sigla["nome_ingles"].unique()

array(['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Estonia', 'Faroe Islands (the)', 'Finland',
       'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
       'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Monaco',
       'Montenegro', 'Netherlands (the)', 'Norway', 'Poland', 'Portugal',
       'Moldova (the Republic of)', 'Romania', 'Russian Federation (the)',
       'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Ukraine', 'North Macedonia',
       'United Kingdom of Great Britain and Northern Ireland (the)',
       'Gibraltar', 'Guernsey', 'Holy See (the)', 'Isle of Man', 'Jersey',
       'Liechtenstein', 'Svalbard and Jan Mayen', 'Åland Islands',
       'Algeria', 'Angola', 'Benin', 'Botswana', 'Burundi', 'Cabo Verde',
       'Cameroon', 'Central African Republic (the)', 'Chad',
       'Comoros (the)', 'Congo (the)', "Côte d'Ivoire",
       'Congo (the Democratic Republic of the)', 'Djibouti',
       'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon',
       'Gambia (the)', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya',
       'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia',
       'Niger (the)', 'Nigeria', 'Rwanda', 'Sao Tome and Principe',
       'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa',
       'Zimbabwe', 'South Sudan', 'Sudan (the)', 'Eswatini', 'Togo',
       'Tunisia', 'Uganda', 'Egypt', 'Tanzania, the United Republic of',
       'Burkina Faso', 'Zambia', 'Mayotte', 'Réunion',
       'Saint Helena, Ascension and Tristan da Cunha', 'Western Sahara',
       'Antigua and Barbuda', 'Bahamas (the)', 'Barbados', 'Belize',
       'Canada', 'Costa Rica', 'Cuba', 'Dominica',
       'Dominican Republic (the)', 'El Salvador', 'Grenada', 'Guatemala',
       'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Trinidad and Tobago',
       'United States of America (the)', 'Anguilla', 'Aruba', 'Bermuda',
       'Bonaire, Sint Eustatius and Saba', 'Cayman Islands (the)',
       'Curaçao', 'Greenland', 'Guadeloupe', 'Martinique', 'Montserrat',
       'Puerto Rico', 'Saint Barthélemy', 'Saint Martin (French part)',
       'Saint Pierre and Miquelon', 'Sint Maarten (Dutch part)',
       'Turks and Caicos Islands (the)', 'Virgin Islands (British)',
       'Virgin Islands (U.S.)', 'Argentina',
       'Bolivia (Plurinational State of)', 'Brazil', 'Chile', 'Colombia',
       'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay',
       'Venezuela (Bolivarian Republic of)',
       'Falkland Islands (the) [Malvinas]', 'French Guiana',
       'South Georgia and the South Sandwich Islands', 'Armenia',
       'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan',
       'Brunei Darussalam', 'Cambodia', 'Myanmar', 'China', 'Sri Lanka',
       "Korea (the Democratic People's Republic of)", 'Georgia', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Israel',
       'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic (the)", 'Lebanon', 'Malaysia',
       'Maldives', 'Mongolia', 'Korea (the Republic of)', 'Nepal', 'Oman',
       'Pakistan', 'Philippines (the)', 'Qatar', 'Timor-Leste',
       'Saudi Arabia', 'Singapore', 'Viet Nam',
       'Syrian Arab Republic (the)', 'Tajikistan', 'Thailand',
       'United Arab Emirates (the)', 'Turkey', 'Turkmenistan',
       'Uzbekistan', 'Yemen', 'Afghanistan',
       'British Indian Ocean Territory (the)', 'Christmas Island',
       'Cocos (Keeling) Islands (the)', 'Hong Kong', 'Macao',
       'Palestine, State of', 'Taiwan (Province of China)', 'Australia',
       'Solomon Islands', 'Cook Islands (the)', 'Fiji', 'Kiribati',
       'Marshall Islands (the)', 'Micronesia (Federated States of)',
       'Nauru', 'New Zealand', 'Niue', 'Palau', 'Papua New Guinea',
       'Vanuatu', 'Tokelau', 'Tonga', 'Tuvalu', 'Samoa', 'American Samoa',
       'French Polynesia', 'Guam', 'New Caledonia', 'Norfolk Island',
       'Northern Mariana Islands (the)', 'Pitcairn',
       'United States Minor Outlying Islands (the)', 'Wallis and Futuna',
       'Antarctica', 'Bouvet Island', 'French Southern Territories (the)',
       'Heard Island and McDonald Islands'], dtype=object)

In [18]:
df_dummy_3["country_name_padrao"] = df_dummy_3["country_name"]

### Coutry code

In [19]:
df_dummy_3["country_name_padrao"] = df_dummy_3["country_name_padrao"].str.replace(r'China PR','China', regex = True )
df_dummy_3["country_name_padrao"] = df_dummy_3["country_name_padrao"].str.replace(r' ','', regex = True )

In [20]:
df_dummy_3["country_name_padrao"] = df_dummy_3["country_name_padrao"].str.replace(r'USA','United States of America (the)', regex = True )

In [21]:
df_sigla.rename(columns={'sigla_pais_iso3': 'country_id_iso_3', 'nome_ingles': 'country_name_padrao'}, inplace = True)
df_sigla

    country_id_iso_3                country_name_padrao
0                ALB                            Albania
1                AND                            Andorra
2                AUT                            Austria
3                BLR                            Belarus
4                BEL                            Belgium
..               ...                                ...
244              WLF                  Wallis and Futuna
245              ATA                         Antarctica
246              BVT                      Bouvet Island
247              ATF  French Southern Territories (the)
248              HMD  Heard Island and McDonald Islands

[249 rows x 2 columns]

In [22]:
df_country_iso = pd.merge(df_dummy_3, df_sigla, how = "left", on = 'country_name_padrao')
df_country_iso

,year,tournament_id,match_id,stage_name,group_name,match_date,match_time,stadium_name,country_name,team_a_name,...,team_a_score_margin,team_b_score_margin,win_draw,win_team_a_win,win_team_b_win,penalty_shootout_ pen,knockout_stage_Knockouts,extra_time_ after,country_name_padrao,country_id_iso_3
0,1991,WC-1991,M-1991-1,Groups,Group A,1991-11-16,20:45,Tianhe Stadium,China PR,China PR,...,4,-4,0,1,0,0,0,0,China,CHN
1,1991,WC-1991,M-1991-6,Groups,Group C,1991-11-17,15:30,Jiangmen Stadium,China PR,Germany,...,4,-4,0,1,0,0,0,0,China,CHN
2,1991,WC-1991,M-1991-2,Groups,Group A,1991-11-17,19:45,Tianhe Stadium,China PR,Denmark,...,3,-3,0,1,0,0,0,0,China,CHN
3,1991,WC-1991,M-1991-3,Groups,Group B,1991-11-17,19:45,New Plaza Stadium,China PR,Japan,...,-1,1,0,0,1,0,0,0,China,CHN
4,1991,WC-1991,M-1991-4,Groups,Group B,1991-11-17,19:45,Ying Dong Stadium,China PR,Sweden,...,-1,1,0,0,1,0,0,0,China,CHN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2019,WC-2019,M-2019-48,Quarter-final,Not applicable,2019-06-29,18:30,Roazhon Park,France,Germany,...,-1,1,0,0,1,0,1,0,France,FRA
280,2019,WC-2019,M-2019-49,Semi-final,Not applicable,2019-07-02,21:00,Stade de Lyon,France,England,...,-1,1,0,0,1,0,1,0,France,FRA
281,2019,WC-2019,M-2019-50,Semi-final,Not applicable,2019-07-03,21:00,Stade de Lyon,France,Netherlands,...,1,-1,0,1,0,0,1,1,France,FRA
282,2019,WC-2019,M-2019-51,Match for third place,Not applicable,2019-07-06,17:00,Stade de Nice,France,England,...,-1,1,0,0,1,0,1,0,France,FRA
283,2019,WC-2019,M-2019-52,Final,Not applicable,2019-07-07,17:00,Stade de Lyon,France,USA,...,2,-2,0,1,0,0,1,0,France,FRA

### code iso-3 time a

In [23]:
df_sigla.rename(columns={'country_id_iso_3': 'team_a_id_iso_3', 'country_name_padrao': 'team_a_name_padrao'}, inplace = True)
df_sigla

    team_a_id_iso_3                 team_a_name_padrao
0               ALB                            Albania
1               AND                            Andorra
2               AUT                            Austria
3               BLR                            Belarus
4               BEL                            Belgium
..              ...                                ...
244             WLF                  Wallis and Futuna
245             ATA                         Antarctica
246             BVT                      Bouvet Island
247             ATF  French Southern Territories (the)
248             HMD  Heard Island and McDonald Islands

[249 rows x 2 columns]

In [24]:
df_country_iso["team_a_name_padrao"] = df_country_iso["team_a_name"]

In [25]:
df_country_iso["team_a_name_padrao"] = df_country_iso["team_a_name_padrao"].str.replace(r'Netherlands','Netherlands (the)', regex = True )
df_country_iso["team_a_name_padrao"] = df_country_iso["team_a_name_padrao"].str.replace(r'Korea DPR',"Korea (the Democratic People's Republic of)", regex = True )
df_country_iso["team_a_name_padrao"] = df_country_iso["team_a_name_padrao"].str.replace(r'Korea Republic','Korea (the Republic of)', regex = True )
df_country_iso["team_a_name_padrao"] = df_country_iso["team_a_name_padrao"].str.replace(r'Chinese Taipei','Taiwan (Province of China)', regex = True )
df_country_iso["team_a_name_padrao"] = df_country_iso["team_a_name_padrao"].str.replace(r'China PR','China', regex = True )
df_country_iso["team_a_name_padrao"] = df_country_iso["team_a_name_padrao"].str.replace(r'Scotland','United Kingdom of Great Britain and Northern Ireland (the)', regex = True )
df_country_iso["team_a_name_padrao"] = df_country_iso["team_a_name_padrao"].str.replace(r'USA','United States of America (the)', regex = True )
df_country_iso["team_a_name_padrao"] = df_country_iso["team_a_name_padrao"].str.replace(r'England','United Kingdom of Great Britain and Northern Ireland (the)', regex = True )

In [26]:
df_country_a_iso = pd.merge(df_country_iso, df_sigla, how = "left", on = "team_a_name_padrao")
df_country_a_iso

,year,tournament_id,match_id,stage_name,group_name,match_date,match_time,stadium_name,country_name,team_a_name,...,win_draw,win_team_a_win,win_team_b_win,penalty_shootout_ pen,knockout_stage_Knockouts,extra_time_ after,country_name_padrao,country_id_iso_3,team_a_name_padrao,team_a_id_iso_3
0,1991,WC-1991,M-1991-1,Groups,Group A,1991-11-16,20:45,Tianhe Stadium,China PR,China PR,...,0,1,0,0,0,0,China,CHN,China,CHN
1,1991,WC-1991,M-1991-6,Groups,Group C,1991-11-17,15:30,Jiangmen Stadium,China PR,Germany,...,0,1,0,0,0,0,China,CHN,Germany,DEU
2,1991,WC-1991,M-1991-2,Groups,Group A,1991-11-17,19:45,Tianhe Stadium,China PR,Denmark,...,0,1,0,0,0,0,China,CHN,Denmark,DNK
3,1991,WC-1991,M-1991-3,Groups,Group B,1991-11-17,19:45,New Plaza Stadium,China PR,Japan,...,0,0,1,0,0,0,China,CHN,Japan,JPN
4,1991,WC-1991,M-1991-4,Groups,Group B,1991-11-17,19:45,Ying Dong Stadium,China PR,Sweden,...,0,0,1,0,0,0,China,CHN,Sweden,SWE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2019,WC-2019,M-2019-48,Quarter-final,Not applicable,2019-06-29,18:30,Roazhon Park,France,Germany,...,0,0,1,0,1,0,France,FRA,Germany,DEU
280,2019,WC-2019,M-2019-49,Semi-final,Not applicable,2019-07-02,21:00,Stade de Lyon,France,England,...,0,0,1,0,1,0,France,FRA,United Kingdom of Great Britain and Northern I...,GBR
281,2019,WC-2019,M-2019-50,Semi-final,Not applicable,2019-07-03,21:00,Stade de Lyon,France,Netherlands,...,0,1,0,0,1,1,France,FRA,Netherlands (the),NLD
282,2019,WC-2019,M-2019-51,Match for third place,Not applicable,2019-07-06,17:00,Stade de Nice,France,England,...,0,0,1,0,1,0,France,FRA,United Kingdom of Great Britain and Northern I...,GBR
283,2019,WC-2019,M-2019-52,Final,Not applicable,2019-07-07,17:00,Stade de Lyon,France,USA,...,0,1,0,0,1,0,France,FRA,United States of America (the),USA

### code iso-3 time b

In [27]:
df_sigla.rename(columns={'team_a_id_iso_3': 'team_b_id_iso_3', 'team_a_name_padrao': 'team_b_name_padrao'}, inplace = True)
df_sigla

    team_b_id_iso_3                 team_b_name_padrao
0               ALB                            Albania
1               AND                            Andorra
2               AUT                            Austria
3               BLR                            Belarus
4               BEL                            Belgium
..              ...                                ...
244             WLF                  Wallis and Futuna
245             ATA                         Antarctica
246             BVT                      Bouvet Island
247             ATF  French Southern Territories (the)
248             HMD  Heard Island and McDonald Islands

[249 rows x 2 columns]

In [28]:
df_country_a_iso["team_b_name_padrao"] = df_country_a_iso["team_b_name"]

In [29]:
df_country_a_iso["team_b_name_padrao"] = df_country_a_iso["team_b_name_padrao"].str.replace(r'Netherlands','Netherlands (the)', regex = True )
df_country_a_iso["team_b_name_padrao"] = df_country_a_iso["team_b_name_padrao"].str.replace(r'Korea DPR',"Korea (the Democratic People's Republic of)", regex = True )
df_country_a_iso["team_b_name_padrao"] = df_country_a_iso["team_b_name_padrao"].str.replace(r'Korea Republic','Korea (the Republic of)', regex = True )
df_country_a_iso["team_b_name_padrao"] = df_country_a_iso["team_b_name_padrao"].str.replace(r'Chinese Taipei','Taiwan (Province of China)', regex = True )
df_country_a_iso["team_b_name_padrao"] = df_country_a_iso["team_b_name_padrao"].str.replace(r'China PR','China', regex = True )
df_country_a_iso["team_b_name_padrao"] = df_country_a_iso["team_b_name_padrao"].str.replace(r'Scotland','United Kingdom of Great Britain and Northern Ireland (the)', regex = True )
df_country_a_iso["team_b_name_padrao"] = df_country_a_iso["team_b_name_padrao"].str.replace(r'USA','United States of America (the)', regex = True )
df_country_a_iso["team_b_name_padrao"] = df_country_a_iso["team_b_name_padrao"].str.replace(r'England','United Kingdom of Great Britain and Northern Ireland (the)', regex = True )
df_country_a_iso["team_b_name_padrao"] = df_country_a_iso["team_b_name_padrao"].str.replace(r'Russia','Russian Federation (the)', regex = True )

In [30]:
df_country_a_b_iso = pd.merge(df_country_a_iso, df_sigla, how = "left", on = "team_b_name_padrao")
df_country_a_b_iso

,year,tournament_id,match_id,stage_name,group_name,match_date,match_time,stadium_name,country_name,team_a_name,...,win_team_b_win,penalty_shootout_ pen,knockout_stage_Knockouts,extra_time_ after,country_name_padrao,country_id_iso_3,team_a_name_padrao,team_a_id_iso_3,team_b_name_padrao,team_b_id_iso_3
0,1991,WC-1991,M-1991-1,Groups,Group A,1991-11-16,20:45,Tianhe Stadium,China PR,China PR,...,0,0,0,0,China,CHN,China,CHN,Norway,NOR
1,1991,WC-1991,M-1991-6,Groups,Group C,1991-11-17,15:30,Jiangmen Stadium,China PR,Germany,...,0,0,0,0,China,CHN,Germany,DEU,Nigeria,NGA
2,1991,WC-1991,M-1991-2,Groups,Group A,1991-11-17,19:45,Tianhe Stadium,China PR,Denmark,...,0,0,0,0,China,CHN,Denmark,DNK,New Zealand,NZL
3,1991,WC-1991,M-1991-3,Groups,Group B,1991-11-17,19:45,New Plaza Stadium,China PR,Japan,...,1,0,0,0,China,CHN,Japan,JPN,Brazil,BRA
4,1991,WC-1991,M-1991-4,Groups,Group B,1991-11-17,19:45,Ying Dong Stadium,China PR,Sweden,...,1,0,0,0,China,CHN,Sweden,SWE,United States of America (the),USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2019,WC-2019,M-2019-48,Quarter-final,Not applicable,2019-06-29,18:30,Roazhon Park,France,Germany,...,1,0,1,0,France,FRA,Germany,DEU,Sweden,SWE
280,2019,WC-2019,M-2019-49,Semi-final,Not applicable,2019-07-02,21:00,Stade de Lyon,France,England,...,1,0,1,0,France,FRA,United Kingdom of Great Britain and Northern I...,GBR,United States of America (the),USA
281,2019,WC-2019,M-2019-50,Semi-final,Not applicable,2019-07-03,21:00,Stade de Lyon,France,Netherlands,...,0,0,1,1,France,FRA,Netherlands (the),NLD,Sweden,SWE
282,2019,WC-2019,M-2019-51,Match for third place,Not applicable,2019-07-06,17:00,Stade de Nice,France,England,...,1,0,1,0,France,FRA,United Kingdom of Great Britain and Northern I...,GBR,Sweden,SWE
283,2019,WC-2019,M-2019-52,Final,Not applicable,2019-07-07,17:00,Stade de Lyon,France,USA,...,0,0,1,0,France,FRA,United States of America (the),USA,Netherlands (the),NLD

### Organizando

In [31]:
df_country_a_b_iso.drop('team_a_name_padrao', axis = 1, inplace = True)
df_country_a_b_iso.drop('team_b_name_padrao', axis = 1, inplace = True)
df_country_a_b_iso.drop('country_name_padrao', axis = 1, inplace = True)

In [32]:
df_country_a_b_iso.rename(columns={'win_draw': 'draw', 'win_team_a_win': 'team_a_win', 'win_team_b_win': 'team_b_win', 'knockout_stage_Knockouts': 'knockout_stage', 'extra_time_ after': 'extra_time', 'penalty_shootout_ pen': 'penalty_shootout'}, inplace = True)

In [33]:
df_dados_final_v0 = df_country_a_b_iso[['year','tournament_id','match_id','stage_name','group_name','match_date','match_time','stadium_name','country_name','country_id_iso_3','knockout_stage','team_a_id_iso_3','team_a_name','team_b_id_iso_3','team_b_name','score','team_a_score','team_b_score','team_a_score_margin','team_b_score_margin','extra_time','penalty_shootout', 'score_penalties', 'team_a_score_penalties', 'team_b_score_penalties', 'team_a_win', 'team_b_win', 'draw']]

In [34]:
df_dados_final_v0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 283
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    284 non-null    int32
 1   tournament_id           284 non-null    object
 2   match_id                284 non-null    object
 3   stage_name              284 non-null    object
 4   group_name              284 non-null    object
 5   match_date              284 non-null    datetime64[ns]
 6   match_time              284 non-null    object
 7   stadium_name            284 non-null    object
 8   country_name            284 non-null    object
 9   country_id_iso_3        284 non-null    object
 10  knockout_stage          284 non-null    uint8
 11  team_a_id_iso_3         284 non-null    object
 12  team_a_name             284 non-null    object
 13  team_b_id_iso_3         284 non-null    object
 14  team_b_name             284 non-null    object
 15  score                   284 non-null    object
 16  team_a_score            284 non-null    int32
 17  team_b_score            284 non-null    int32
 18  team_a_score_margin     284 non-null    int32
 19  team_b_score_margin     284 non-null    int32
 20  extra_time              284 non-null    uint8
 21  penalty_shootout        284 non-null    uint8
 22  score_penalties         8 non-null      object
 23  team_a_score_penalties  284 non-null    int32
 24  team_b_score_penalties  284 non-null    int32
 25  team_a_win              284 non-null    uint8
 26  team_b_win              284 non-null    uint8
 27  draw                    284 non-null    uint8
dtypes: datetime64[ns](1), int32(7), object(14), uint8(6)
memory usage: 44.9+ KB

In [35]:
df_dados_final_v0['team_b_name'].unique()

array(['Norway', 'Nigeria', 'New Zealand', 'Brazil', 'USA', 'Italy',
       'Denmark', 'Sweden', 'Germany', 'Chinese Taipei', 'Japan',
       'Canada', 'China PR', 'Australia', 'England', 'Mexico', 'Russia',
       'Ghana', 'Korea DPR', 'France', 'Argentina', 'Korea Republic',
       'Equatorial Guinea', 'Colombia', 'Netherlands', 'Thailand',
       "Côte d'Ivoire", 'Ecuador', 'Switzerland', 'Costa Rica',
       'Cameroon', 'Spain', 'South Africa', 'Jamaica', 'Scotland',
       'Chile'], dtype=object)

In [36]:
df_staging.drop('code_iso', axis = 1, inplace = True )
df_staging.drop('name_men', axis = 1, inplace = True )

In [37]:
df_staging.rename(columns={'name_women': 'team_a_name', 'team_code': 'team_a_code'}, inplace = True)

In [38]:
df_staging

          team_a_name team_a_code
0           Argentina         ARG
1           Australia         AUS
2              Brazil         BRA
3              Canada         CAN
4         Switzerland         CHE
5               Chile         CHL
6            China PR         CHN
7       Côte d'Ivoire         CIV
8            Cameroon         CMR
9            Colombia         COL
10         Costa Rica         CRI
11            Germany         DEU
12            Denmark         DNK
13            Ecuador         ECU
14              Spain         ESP
15             France         FRA
16            England         ENG
17           Scotland         SCO
18              Ghana         GHA
19  Equatorial Guinea         GNQ
20              Italy         ITA
21            Jamaica         JAM
22              Japan         JPN
23     Korea Republic         KOR
24             Mexico         MEX
25            Nigeria         NGA
26        Netherlands         NLD
27             Norway         NOR
28        New Zealand         NZL
29          Korea DPR         PRK
30             Sweden         SWE
31           Thailand         THA
32     Chinese Taipei         TWN
33                USA         USA
34       South Africa         ZAF
35             Russia         RUS

In [39]:
df_dados_final_v1 = pd.merge(df_dados_final_v0, df_staging, how = "left", on = "team_a_name")
df_dados_final_v1

,year,tournament_id,match_id,stage_name,group_name,match_date,match_time,stadium_name,country_name,country_id_iso_3,...,team_b_score_margin,extra_time,penalty_shootout,score_penalties,team_a_score_penalties,team_b_score_penalties,team_a_win,team_b_win,draw,team_a_code
0,1991,WC-1991,M-1991-1,Groups,Group A,1991-11-16,20:45,Tianhe Stadium,China PR,CHN,...,-4,0,0,NaN,0,0,1,0,0,CHN
1,1991,WC-1991,M-1991-6,Groups,Group C,1991-11-17,15:30,Jiangmen Stadium,China PR,CHN,...,-4,0,0,NaN,0,0,1,0,0,DEU
2,1991,WC-1991,M-1991-2,Groups,Group A,1991-11-17,19:45,Tianhe Stadium,China PR,CHN,...,-3,0,0,NaN,0,0,1,0,0,DNK
3,1991,WC-1991,M-1991-3,Groups,Group B,1991-11-17,19:45,New Plaza Stadium,China PR,CHN,...,1,0,0,NaN,0,0,0,1,0,JPN
4,1991,WC-1991,M-1991-4,Groups,Group B,1991-11-17,19:45,Ying Dong Stadium,China PR,CHN,...,1,0,0,NaN,0,0,0,1,0,SWE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2019,WC-2019,M-2019-48,Quarter-final,Not applicable,2019-06-29,18:30,Roazhon Park,France,FRA,...,1,0,0,NaN,0,0,0,1,0,DEU
280,2019,WC-2019,M-2019-49,Semi-final,Not applicable,2019-07-02,21:00,Stade de Lyon,France,FRA,...,1,0,0,NaN,0,0,0,1,0,ENG
281,2019,WC-2019,M-2019-50,Semi-final,Not applicable,2019-07-03,21:00,Stade de Lyon,France,FRA,...,-1,1,0,NaN,0,0,1,0,0,NLD
282,2019,WC-2019,M-2019-51,Match for third place,Not applicable,2019-07-06,17:00,Stade de Nice,France,FRA,...,1,0,0,NaN,0,0,0,1,0,ENG
283,2019,WC-2019,M-2019-52,Final,Not applicable,2019-07-07,17:00,Stade de Lyon,France,FRA,...,-2,0,0,NaN,0,0,1,0,0,USA

In [40]:
df_staging.rename(columns={'team_a_name': 'team_b_name', 'team_a_code': 'team_b_code'}, inplace = True)

In [41]:
df_staging

          team_b_name team_b_code
0           Argentina         ARG
1           Australia         AUS
2              Brazil         BRA
3              Canada         CAN
4         Switzerland         CHE
5               Chile         CHL
6            China PR         CHN
7       Côte d'Ivoire         CIV
8            Cameroon         CMR
9            Colombia         COL
10         Costa Rica         CRI
11            Germany         DEU
12            Denmark         DNK
13            Ecuador         ECU
14              Spain         ESP
15             France         FRA
16            England         ENG
17           Scotland         SCO
18              Ghana         GHA
19  Equatorial Guinea         GNQ
20              Italy         ITA
21            Jamaica         JAM
22              Japan         JPN
23     Korea Republic         KOR
24             Mexico         MEX
25            Nigeria         NGA
26        Netherlands         NLD
27             Norway         NOR
28        New Zealand         NZL
29          Korea DPR         PRK
30             Sweden         SWE
31           Thailand         THA
32     Chinese Taipei         TWN
33                USA         USA
34       South Africa         ZAF
35             Russia         RUS

In [42]:
df_dados_final_v1 = pd.merge(df_dados_final_v1, df_staging, how = "left", on = "team_b_name")
df_dados_final_v1

,year,tournament_id,match_id,stage_name,group_name,match_date,match_time,stadium_name,country_name,country_id_iso_3,...,extra_time,penalty_shootout,score_penalties,team_a_score_penalties,team_b_score_penalties,team_a_win,team_b_win,draw,team_a_code,team_b_code
0,1991,WC-1991,M-1991-1,Groups,Group A,1991-11-16,20:45,Tianhe Stadium,China PR,CHN,...,0,0,NaN,0,0,1,0,0,CHN,NOR
1,1991,WC-1991,M-1991-6,Groups,Group C,1991-11-17,15:30,Jiangmen Stadium,China PR,CHN,...,0,0,NaN,0,0,1,0,0,DEU,NGA
2,1991,WC-1991,M-1991-2,Groups,Group A,1991-11-17,19:45,Tianhe Stadium,China PR,CHN,...,0,0,NaN,0,0,1,0,0,DNK,NZL
3,1991,WC-1991,M-1991-3,Groups,Group B,1991-11-17,19:45,New Plaza Stadium,China PR,CHN,...,0,0,NaN,0,0,0,1,0,JPN,BRA
4,1991,WC-1991,M-1991-4,Groups,Group B,1991-11-17,19:45,Ying Dong Stadium,China PR,CHN,...,0,0,NaN,0,0,0,1,0,SWE,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2019,WC-2019,M-2019-48,Quarter-final,Not applicable,2019-06-29,18:30,Roazhon Park,France,FRA,...,0,0,NaN,0,0,0,1,0,DEU,SWE
280,2019,WC-2019,M-2019-49,Semi-final,Not applicable,2019-07-02,21:00,Stade de Lyon,France,FRA,...,0,0,NaN,0,0,0,1,0,ENG,USA
281,2019,WC-2019,M-2019-50,Semi-final,Not applicable,2019-07-03,21:00,Stade de Lyon,France,FRA,...,1,0,NaN,0,0,1,0,0,NLD,SWE
282,2019,WC-2019,M-2019-51,Match for third place,Not applicable,2019-07-06,17:00,Stade de Nice,France,FRA,...,0,0,NaN,0,0,0,1,0,ENG,SWE
283,2019,WC-2019,M-2019-52,Final,Not applicable,2019-07-07,17:00,Stade de Lyon,France,FRA,...,0,0,NaN,0,0,1,0,0,USA,NLD

In [43]:
df_dados_final_v1 = df_dados_final_v1[['year','tournament_id','match_id','stage_name','group_name','match_date','match_time','stadium_name','country_name','country_id_iso_3','knockout_stage','team_a_id_iso_3','team_a_name','team_a_code','team_b_id_iso_3','team_b_name',"team_b_code",'score','team_a_score','team_b_score','team_a_score_margin','team_b_score_margin','extra_time','penalty_shootout', 'score_penalties', 'team_a_score_penalties', 'team_b_score_penalties', 'team_a_win', 'team_b_win', 'draw']]

In [48]:
df_dados_final_v1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 283
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    284 non-null    int32
 1   tournament_id           284 non-null    object
 2   match_id                284 non-null    object
 3   stage_name              284 non-null    object
 4   group_name              284 non-null    object
 5   match_date              284 non-null    datetime64[ns]
 6   match_time              284 non-null    object
 7   stadium_name            284 non-null    object
 8   country_name            284 non-null    object
 9   country_id_iso_3        284 non-null    object
 10  knockout_stage          284 non-null    uint8
 11  team_a_id_iso_3         284 non-null    object
 12  team_a_name             284 non-null    object
 13  team_a_code             284 non-null    object
 14  team_b_id_iso_3         284 non-null    object
 15  team_b_name             284 non-null    object
 16  team_b_code             284 non-null    object
 17  score                   284 non-null    object
 18  team_a_score            284 non-null    int32
 19  team_b_score            284 non-null    int32
 20  team_a_score_margin     284 non-null    int32
 21  team_b_score_margin     284 non-null    int32
 22  extra_time              284 non-null    uint8
 23  penalty_shootout        284 non-null    uint8
 24  score_penalties         8 non-null      object
 25  team_a_score_penalties  284 non-null    int32
 26  team_b_score_penalties  284 non-null    int32
 27  team_a_win              284 non-null    uint8
 28  team_b_win              284 non-null    uint8
 29  draw                    284 non-null    uint8
dtypes: datetime64[ns](1), int32(7), object(16), uint8(6)
memory usage: 49.4+ KB

In [45]:
path = os.path.abspath(os.path.join('..', 'output'))
path_df1 = os.path.join(path, 'df_dados_final_v1.csv')

In [46]:
df_dados_final_v1.to_csv(path_df1, index=False)

In [49]:
df_dados_final_v1[df_dados_final_v1["team_b_name"] == "Russia"]

,year,tournament_id,match_id,stage_name,group_name,match_date,match_time,stadium_name,country_name,country_id_iso_3,...,team_a_score_margin,team_b_score_margin,extra_time,penalty_shootout,score_penalties,team_a_score_penalties,team_b_score_penalties,team_a_win,team_b_win,draw
56,1999,WC-1999,M-1999-5,Groups,Group C,1999-06-20,16:00,Foxboro Stadium,USA,USA,...,1,-1,0,0,NaN,0,0,1,0,0
62,1999,WC-1999,M-1999-14,Groups,Group C,1999-06-23,18:00,Jeld-Wen Field,USA,USA,...,-5,5,0,0,NaN,0,0,0,1,0
68,1999,WC-1999,M-1999-22,Groups,Group C,1999-06-26,12:00,Giants Stadium,USA,USA,...,-3,3,0,0,NaN,0,0,0,1,0
76,1999,WC-1999,M-1999-28,Quarter-final,Not applicable,1999-06-30,17:00,Spartan Stadium,USA,USA,...,2,-2,0,0,NaN,0,0,1,0,0
90,2003,WC-2003,M-2003-7,Groups,Group D,2003-09-21,17:30,StubHub Center,USA,USA,...,-1,1,0,0,NaN,0,0,0,1,0
97,2003,WC-2003,M-2003-15,Groups,Group D,2003-09-25,16:15,StubHub Center,USA,USA,...,-3,3,0,0,NaN,0,0,0,1,0
107,2003,WC-2003,M-2003-24,Groups,Group D,2003-09-28,20:00,Jeld-Wen Field,USA,USA,...,1,-1,0,0,NaN,0,0,1,0,0
110,2003,WC-2003,M-2003-27,Quarter-final,Not applicable,2003-10-02,16:30,Jeld-Wen Field,USA,USA,...,6,-6,0,0,NaN,0,0,1,0,0

In [50]:
df_dados_final_v1["team_b_code"].unique()

array(['NOR', 'NGA', 'NZL', 'BRA', 'USA', 'ITA', 'DNK', 'SWE', 'DEU',
       'TWN', 'JPN', 'CAN', 'CHN', 'AUS', 'ENG', 'MEX', 'RUS', 'GHA',
       'PRK', 'FRA', 'ARG', 'KOR', 'GNQ', 'COL', 'NLD', 'THA', 'CIV',
       'ECU', 'CHE', 'CRI', 'CMR', 'ESP', 'ZAF', 'JAM', 'SCO', 'CHL'],
      dtype=object)