In [1]:
import pandas as pd
import os
#import basedosdados

In [2]:
path = os.path.abspath(os.path.join('..', 'input'))
path_data = os.path.join(path, 'WWBIData.csv')
df = pd.read_csv(path_data)

In [3]:
len(df['Country Code'].unique())

202

In [6]:
df['Country Name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatia',
       'Curaçao', 'Cyprus', 'Czech Republic', 'Dem. Rep. Congo',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia', 'Moldova', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Romania', 'Russia', 'Rwanda', 'Samoa', 'San Marino',
       'São Tomé and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Taiwan', 'Tajikistan',
       'Tanzania', 'Thailand', 'The Bahamas', 'The Gambia', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [3]:
df2 = pd.DataFrame()
for i in ['00','01','02','03','04','05', '06','07','08','09','10','11','12','13','14','15','16','17','18','19','20']:
    lista = df[[ 'Country Name', 'Country Code', 'Indicator Name', '20'+i]].values
    lista = pd.DataFrame(lista)
    lista['year'] = '20'+i
    lista.rename(columns = {0:'country_name', 1:'country_code', 2:'indicator',3:'score'}, inplace = True)
    df2 = df2.append(lista).reset_index(drop=True)

df2 = df2[['year', 'country_name','country_code','indicator','score']]
df2['year'] = df2['year'].astype(int)
df2['score'] = df2['score'].astype('float')
df2

,year,country_name,country_code,indicator,score
0,2000,Afghanistan,AFG,"Core Public Administration workers, as a share...",NaN
1,2000,Afghanistan,AFG,"Core Public Administration workers, as a share...",NaN
2,2000,Afghanistan,AFG,"Core Public Administration workers, as a share...",NaN
3,2000,Afghanistan,AFG,Cross-country public sector pay comparison rat...,NaN
4,2000,Afghanistan,AFG,Cross-country public sector pay comparison rat...,NaN
...,...,...,...,...,...
1281079,2020,Zimbabwe,ZWE,"Teachers, as a share of public formal employees",NaN
1281080,2020,Zimbabwe,ZWE,"Teachers, as a share of public paid employees",NaN
1281081,2020,Zimbabwe,ZWE,"Teachers, as a share of public total employees",NaN
1281082,2020,Zimbabwe,ZWE,Wage bill as a percentage of GDP,6.440993
1281083,2020,Zimbabwe,ZWE,Wage bill as a percentage of Public Expenditure,41.238518

In [4]:
output = os.path.abspath(os.path.join('..', 'output'))

In [5]:
for ano in [*range(2000, 2021)]:
    particao = output + f'/country_indicators/year={ano}/'
    if not os.path.exists(particao):
      os.makedirs(particao)

In [6]:
for ano in [*range(2000, 2021)]:
    df_particao = df2[df2['year'] == ano].copy() # O .copy não é necessário é apenas uma boa prática
    df_particao.drop(['year'], axis=1, inplace=True) # É preciso excluir as colunas utilizadas para partição 
    particao = output + f'/country_indicators/year={ano}/country_indicators.csv'
    df_particao.to_csv(particao, index=False, encoding='utf-8', na_rep='')